.header-logo img {width: 65px;}
h1, h2, h3, h4, h5, h6,
.section-big,
.section-woo,
.row .woocommerce .box .price,
.timeTo-counter,
.widget.woocommerce ul li a,
.ctv_section .textarea,
.row .woocommerce .box .price,
#comments h3,.content-team .content-box h2, .woocommerce .product-style-2 .box .addtowishlist a,
 ul.top-nav li,
 .main-menu .top-bar-jw li.menu-item,
.font-size.title{font-family: 'Crete Round ';}
body {font-family: 'open sans'}
.flexbox body {font-family: 'open sans'}
.content-small .content-box h2 {font-family: 'open sans'}
.widget_product_categories ul.product-categories li a,
.widget.woocommerce.widget_product_categories ul.product-categories li a,
.font-size.paragraph {font-family: 'open sans'}
.totop-button{background:#404040;color:#949494;border:1px solid #949494;}body {font-size: 15px}
.woocommerce #main .widget_price_filter .price_slider_amount,.woocommerce-page #main .widget_price_filter .price_slider_amount,.post-meta-catagory {font-size: 15px}
body,.carousel-caption,label {color: #000000}
a,.widget_calendar table td#prev a,.widget_calendar table td#next a {color: #404040}
a:hover,a:active, a.active, a:focus,.widget_calendar table td#prev a:hover,.widget_calendar table td#next a:hover {color: #c94732}
article.sticky h2 a{color: #7D2C22}
article.sticky h2 a:hover,article.sticky h2 a:focus,article.sticky h2 a:active{color: #c94732}
.single-post article.post .entry-content {color: #000000}
.single-post article.post h1.entry-title {color: #000000}
.single-post article.post .entry-content a {color: #404040}
.single-post article.post .entry-content a:hover {color: #c94732}
.single-post article.post .entry-content .meta {color: #000000}
.single-post article.post .entry-content .meta a {color: #404040}
.single-post article.post .entry-content .meta a:hover {color: #c94732}
.single-post .blog-meta-info-top li.post-meta-post-icon,.single-post .blog-meta-info-top li.post-meta-category,.single-post .blog-meta-info-top li.post-meta-author-date {border-right: 1px solid #404040}
.single-post .blog-meta-info-top li.post-meta-post-icon i {color: #404040}
.blog-meta-info-top li.post-meta-post-icon,.blog-meta-info-top li.post-meta-category,.blog-meta-info-top li.post-meta-author-date {border-right: 1px solid #949494}
.blog-meta-info-top li.post-meta-post-icon i {color: #404040}
.blog-meta-info .post-meta-catagory {border-right: 1px solid #949494}
.woocommerce div.product .entry-summary span.price, .woocommerce-page div.product .entry-summary span.price, .woocommerce #content div.product .entry-summary span.price, .woocommerce #content div.product .entry-summary span.woo_save, .woocommerce-page #content div.product .entry-summary span.price, .woocommerce div.product .entry-summary p.price, .woocommerce-page div.product .entry-summary p.price, .woocommerce #content div.product .entry-summary p.price, .woocommerce-page #content div.product .entry-summary p.price {color: #404040}
.woocommerce div.product .entry-summary .addtowishlist .icon-plus-circle2,.woocommerce div.product .entry-summary .comparebutton .icon-plus-circle2 {color: #404040}
.woocommerce .row div.product div.images img, .woocommerce-page .row div.product div.images img, .woocommerce #content .row div.product div.images img, .woocommerce-page #content .row div.product div.images img {border: 1px solid #949494}
.woocommerce .woocommerce-message a.button,.woocommerce-page .woocommerce-message a.button,.woocommerce .woocommerce-message button.button,.woocommerce-page .woocommerce-message button.button,.woocommerce .woocommerce-message input.button,.woocommerce-page .woocommerce-message input.button,.woocommerce #respond .woocommerce-message input#submit,.woocommerce-page #respond .woocommerce-message input#submit,.woocommerce #content .woocommerce-message input.button,.woocommerce-page #content .woocommerce-message input.button {color: #ffffff;border: 1px solid #ffffff;}
.yith-woocompare-widget a.compare,.yith-woocompare-widget a.clear-all{background: #404040;color: #ffffff}.yith-woocompare-widget .products-list > li {border-bottom: 1px solid #949494;}
.widget.yith-woocompare-widget ul.products-list a.remove {color:#404040 ;}
.widget.yith-woocompare-widget ul.products-list a.remove:hover {color:#c94732;}
.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a{width:30.8%;}.woocommerce-page #content table.shop_table.cart.wishlist_table .product-add-to-cart a.add_to_cart.button {background: #c94732;color: #ffffff}
.woocommerce-page .yith-wcwl-share li a.facebook:before,.woocommerce-page .yith-wcwl-share li a.twitter:before,.woocommerce-page .yith-wcwl-share li a.pinterest:before,.woocommerce-page .yith-wcwl-share li a.googleplus:before {color: #949494}
table.compare-list .add-to-cart td a {background-color: #c94732;color: #ffffff}
.woocommerce-page #content .product-quantity .quantity .plus,
.woocommerce-page #content .product-quantity .quantity .minus {
border: 1px solid #949494}
.woocommerce-page #content .product-quantity .quantity .input-text {border-top: 1px solid #949494;border-bottom:1px solid #949494}
.woocommerce-page #content .woocommerce a.button.alt,#content .woocommerce .woocommerce button.button.alt,.woocommerce-page #content .woocommerce button.button.alt,#content .woocommerce .woocommerce input.button.alt,.woocommerce-page #content .woocommerce input.button.alt,.woocommerce #respond .woocommerce input#submit.alt,.woocommerce-page #respond .woocommerce input#submit.alt,.woocommerce #content .woocommerce input.button.alt,.woocommerce-page #content .woocommerce input.button.alt {background-color: #c94732;color: #ffffff}
.woocommerce-page #content .woocommerce a.button.alt:hover,#content .woocommerce .woocommerce button.button.alt:hover,.woocommerce-page #content .woocommerce button.button.alt:hover,#content .woocommerce .woocommerce input.button.alt:hover,.woocommerce-page #content .woocommerce input.button.alt:hover,.woocommerce #respond .woocommerce input#submit.alt:hover,.woocommerce-page #respond .woocommerce input#submit.alt:hover,.woocommerce #content .woocommerce input.button.alt:hover,.woocommerce-page #content .woocommerce input.button.alt:hover {background-color: #c94732;color: #ffffff}
#content .woocommerce-page a.button,#content .woocommerce button.button,.woocommerce-page #content button.button,#content .woocommerce input.button,.woocommerce-page .woocommerce input.button,.woocommerce #respond .woocommerce input#submit,.woocommerce-page #respond .woocommerce input#submit,.woocommerce #content .woocommerce input.button,.woocommerce-page #content .woocommerce input.button {background-color: #949494;color:#000000;}
#content .woocommerce-page a.button:hover,#content .woocommerce button.button:hover,.woocommerce-page #content button.button:hover,#content .woocommerce input.button:hover,.woocommerce-page .woocommerce input.button:hover,.woocommerce #respond .woocommerce input#submit:hover,.woocommerce-page #respond .woocommerce input#submit:hover,.woocommerce #content .woocommerce input.button:hover,.woocommerce-page #content .woocommerce input.button:hover {background-color: #949494;color:#000000;}
.selectricWrapper .selectric .button{background-color:#ffffff !important;color:#949494 !important ;}.selectricWrapper .selectric .label{background-color:#ffffff !important;color:#000000 !important ;}.selectricWrapper.selectricOpen .selectric .label{background-color:#949494 !important;color:#000000 !important ;}.selectricWrapper.selectricOpen .selectricItems li{background-color:#ffffff !important;color:#000000 !important ;}.selectricWrapper.selectricOpen .selectricItems li.selected{background-color:#949494 !important;}.selectricWrapper .selectric{background:#949494 !important;border:1px solid #949494;}.woocommerce .widget_layered_nav ul li.chosen a, .woocommerce-page .widget_layered_nav ul li.chosen a{color: #404040 !important;}.woocommerce .widget_layered_nav ul li.chosen a:hover, .woocommerce-page .widget_layered_nav ul li.chosen a:hover{color: #c94732 !important;}.cart_totals.calculated_shipping .cart-subtotal,.cart_totals.calculated_shipping .total {background-color: #949494;}
#order_review .shop_table tr.cart-subtotal,#order_review .shop_table tr.total {background-color: #949494;}
#content .woocommerce #payment {background-color: #949494;}
#content .woocommerce #payment div.payment_box {background-color: #949494; color: ' . #ffffff . ';}
#content .woocommerce #payment div.payment_box:after, .woocommerce-page #content #payment div.payment_box:after {border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #949494;}
.woocommerce .product-category .category-info{background: #949494;background:rgba(148,148,148,0.9);filter: alpha(opacity=90);color:#404040;}.woocommerce .product-category:hover .category-info{background-color:#404040;color:#949494;}#content .shop_table.order_details tfoot tr:nth-child(odd) {background-color: #949494;}
.shipping_calculator select.country_to_state,
.shipping_calculator input.input-text {border: 1px solid #949494}
#customer_detail s input,#customer_details textarea {border: 1px solid #949494}
.woocommerce input,.woocommerce textarea {border: 1px solid #949494}
.woocommerce .woocommerce-tabs #reviews #comments ol.commentlist li:before,.woocommerce-page .woocommerce-tabs #reviews #comments ol.commentlist li:before {color: #949494}
.woocommerce .woocommerce-tabs #reviews #comments ol.commentlist li .comment-text,.woocommerce-page .woocommerce-tabs #reviews #comments ol.commentlist li .comment-text {border: 1px solid #949494}
.single-product div.product .entry-summary,.variations label {color: #000000}
.single-product div.product .entry-summary h1.entry-title {color: #404040}
.woocommerce #content .woocommerce.product.compare-button a.compare.button {color: #404040}
.single-product div.product .entry-summary a {color: #404040}
.single-product div.product .entry-summary a:hover {color: #c94732}
.single-product div.product .entry-summary .socialshare-icon li a {color: #949494}
.single-product div.product .entry-summary .socialshare-icon li a.link-facebook:hover {color: #3B5998}
.single-product div.product .entry-summary .socialshare-icon li a.link-twitter:hover {color: #00B6F1}
.single-product div.product .entry-summary .socialshare-icon li a.link-google:hover {color: #DD4B38}
.single-product div.product .entry-summary .socialshare-icon li a.link-pinterest:hover {color: #CB2027}
.single-product div.product .entry-summary .socialshare-icon li a.link-email:hover {color: #c94732}
body, body.custom-background {background-color: #ffffff !important;}
.container, .divider-center-text {background-color: #ffffff}
.post-box .jaw-portfolio.gallery .carousel-control,#content article.content.format-gallery .jaw-gallery .carousel-control {background-color: #ffffff}
.paralax .woocommerce .box,.comments-block .one-comment .comment-dot-border {background-color: #ffffff}
.comments-block .one-comment .comment-dot {background-color: #404040;}
.comments-block .one-comment .comment-arrow:before {color: #949494}
.timeTo-counter.boxed .timeTo .counter {background-color: #949494;border: 1px solid #949494}
.row-fullwidth .page-top.fullwidth-block {background: none repeat scroll 0 0 #404040}
.top-bar-1-left .top-bar-icon,
.top-bar-1-right .icon-arrow-down-gs,
.top-bar-1-right a span,
.page-top .top-bar-login-content a {color: #fafafa;}
.row-fullwidth .page-top,
.top-bar-1-right a span.topbar-wishlist-count,
 .top-bar-1-right a span.amount,
.top-bar-1-right a,
.top-bar-1-right a:hover,
.top-bar-1-right a:focus {color: #dedede;}
.top-bar-login-form {border-top: 0px solid #ffffff; color: #fafafa}
.top-bar-login-form input {border: 1px solid #949494}
.top-bar-login-form .login-submit #wp-submit{background: #404040;color: #ffffff;}
.top-bar-login-form .login-submit #wp-submit:hover {background: #404040;color: #ffffff;}
.page-top .top-bar-login-form .regiter-button a.btnregiter{background: #404040;color: #ffffff;}
.page-top .top-bar-login-form .regiter-button a.btnregiter:hover {background: #404040;color: #ffffff;}
.top-bar-1-right a.btnregiter {background: #c1c2c4;color: #000000;}
.top-bar-1-right a.btnregiter:hover {background: #c54747;color: #c94732;}
#jaw_login .login input.input, .registration-form-wrapper #jaw-registration-form  input[type="text"]  {border: 1px solid #949494}
#jaw_login .login #wp-submit, .registration-form-wrapper #jaw-registration-form input.reg-submit {background-color: #404040;color: #ffffff}
#jaw_login .login #wp-submit:hover, .registration-form-wrapper #jaw-registration-form input.reg-submit:hover {background-color: #404040;color: #ffffff}
#jaw_login .login #wp-submit:focus, .registration-form-wrapper #jaw-registration-form input.reg-submit:focus {background-color: #404040;color: #ffffff}
#jaw_login .login .reg-submit {background-color: #404040;color: #ffffff}
#jaw_login .login .reg-submit :hover {background-color: #404040;color: #ffffff}
#jaw_login .login .reg-submit :focus {background-color: #404040;color: #ffffff}
.row-fullwidth .fullwidth-block {background: none repeat scroll 0 0 #949494}
.row-fullwidth .fullwidth-block.header-small-content {background: none repeat scroll 0 0 #ffffff;}
.row-fullwidth .fullwidth-block.small-menu.main-menu, #header .small-menu .jaw-menu-bar,.row-fullwidth .fullwidth-block.big-menu.main-menu, #header .big-menu .jaw-menu-bar {background: none repeat scroll 0 0 #666666;}
#header .big-menu.row-menu-border {border-bottom: 1px solid #c1c2c4;border-top: 1px solid #c1c2c4;}
ul.top-nav-mobile li.jaw-menu-item-depth-0 {border-bottom: 1px solid #c1c2c4;}
ul.top-nav-mobile li:last-child {border-bottom: 0px solid #c1c2c4 !important;}
ul.top-nav-mobile li ul {border-left: 1px solid #c1c2c4;}
ul.top-nav-mobile li.jaw-menu-item-has-widgets ul {border-left: 0px solid #c1c2c4;}
.row-border-solid .ctv_section,
.row-border-solid .ctv_section,
.row-border-solid .ctv_section{border-color: #a5a6a6}
.cta-icon-link,.cta-icon-link:hover,.cta-icon-link:focus {color: #949494}
.accordion .panel-title a:before {color: #949494}
.accordion .panel-title a:hover:before,.accordion .panel-title a:focus:before {color: #c94732}
.author_desc,.comments-block .one-comment {background: none repeat scroll 0 0 #949494}
.author_desc div.author_arrow,.comments-block .one-comment .comment-arrow {border-right-color: #949494}
.author_desc div.author_arrow_border,.comments-block .one-comment .comment-arrow-border {border-right-color: #404040}
.author_arrow {color: #949494}
.row-fullwidth .page-title .fullwidth-block {background-color: #ebebeb;color: #464646}
.row-fullwidth .page-title .fullwidth-block a,.breadcrumb a:after, .breadcrumb span {color: #404040}
.row-fullwidth .page-title .fullwidth-block a:hover {color: #c94732}
.jaw-tabs.colored .nav-tabs {background-color: #949494;color: #000000}
.jaw-tabs.colored .nav-tabs > li.active > a {border-color: #949494;border-top-color: #404040;background:#ffffff}
.jaw-tabs.colored .nav-tabs > li > a {border-color: #ffffff;}
.woocommerce div.product .woocommerce-tabs ul.tabs {background-color: #949494;color: #000000}
.woocommerce div.product .woocommerce-tabs ul.tabs > li.active > a{border-color: #949494;border-top-color: #404040;background:#ffffff}
.woocommerce div.product .woocommerce-tabs ul.tabs > li > a{border-color: #ffffff;}
.jaw-tabs .nav-tabs > li.active > a{border-color: #949494;border-bottom-color: #ffffff;}
.accordion .panel-acc i {color: #949494}
.comment-item {background: none repeat scroll 0 0 #eeeeee;}
.box_arrow span {color: #eeeeee}
#respond #commentform .form-submit,#respond #commentform .form-submit #submit {background: none repeat scroll 0 0 #eeeeee;}
.comment-item {color: #000000}
.comment-item a {color: #5e605f}
.comment-item a:hover,.comment-item a:hover {color: #c94732}
#commentform input, #commentform textarea {border: 1px solid #eeeeee}
.woocommerce .product-style-1 .box h2,
.woocommerce .product-style-1 .box h2 a,
.woocommerce .product-style-1 .box .price,
.woocommerce .product-style-11 .box h2,
.woocommerce .product-style-11 .box h2 a,
.woocommerce .product-style-11 .box .price,
.woocommerce .product-style-0 .box .addtocart a.button:hover,#content .woocommerce .product-style-1 .box .addtocart a.add_to_cart_button.post_name.button.product_type_simple,
#content .woocommerce .product-style-11 .box .addtocart a,
#content .woocommerce .product-style-11 .box .addtocart a:hover {background-color: #404040;color: #ffffff;}
.woocommerce .product-style-1.featured .box h2,.woocommerce .product-style-1.featured .box h2 a,.woocommerce .product-style-11.featured .box h2,.woocommerce .product-style-11.featured .box h2 a {background-color: #c94732;color: #ffffff}
#content .woocommerce .product-style-2 .box .addtocart a.add_to_cart_button.post_name.button.product_type_simple,#content .woocommerce .product-style-2 .box .addtocart a.post_name.button.product_type_external,#content .woocommerce .product-style-2 .box .addtowishlist .icon-plus-circle2 {background: none;color:#404040}
#content .woocommerce .product-style-2 .box .addtocart a.add_to_cart_button.post_name.button.product_type_simple:hover {color: #c94732}
#content .woocommerce .product-style-2 .box:hover .addtocart a.add_to_cart_button.post_name.button.product_type_simple {color: #c94732}
#content .woocommerce .product-style-2 .box:hover .addtocart a.post_name.button.product_type_externa {color: #c94732}
#content .woocommerce .product-style-2 .box:hover .product_type_variable {color: #c94732}
#content .woocommerce .product-style-2 .button.product_type_variable {color: #404040;background:#ffffff;}
#content .woocommerce .product-style-2 .box:hover .addtowishlist,#content .woocommerce .product-style-2 .box:hover .addtowishlist .icon-plus-circle2 {color: #c94732}
#content .woocommerce .product-style-3 .box .addtocart a.add_to_cart_button.post_name.button.product_type_simple {background: none repeat scroll 0 0 #5E6060;color:#ffffff}
#content .woocommerce .product-style-3 .box .addtocart a.add_to_cart_button.post_name.button.product_type_simple:hover {background: none repeat scroll 0 0 #404040;color:#ffffff}
#content .woocommerce .product-style-3 .box:hover .addtocart a.add_to_cart_button.post_name.button.product_type_simple {background: none repeat scroll 0 0 #404040;color:#ffffff}
.woocommerce #content .woocommerce.product.compare-button a.compare.button {background: none;}
.woocommerce #content .woocommerce.product.compare-button a.compare.button:hover {color: #c94732;}
.woocommerce .product-style-3 .box,
woocommerce .product-style-2 .box {border: 1px solid #949494}
.woocommerce .product-style-2 .box:hover,
.woocommerce .product-style-3 .box:hover,
.woocommerce .product-style-10:hover .image {border: 1px solid #404040}
.woocommerce .product-style-2 .box,
.woocommerce .product-style-3 .box {border: 1px solid #949494;}
.woocommerce .product-style-1:hover .box,
.woocommerce .product-style-11:hover .box{border: 1px solid #404040}
.woocommerce .product-style-2:hover .box,
.woocommerce .product-style-3:hover .box {border: 1px solid #404040}
.woocommerce .product-style-0 .box:hover .addtocart a.button,
.woocommerce .product-style-3 .box:hover .addtocart a.post_name,
.row .woocommerce .product-style-3:hover .addtocart a.button,
.woocommerce .product-style-1 .product-box-buttons
 {background: #404040}
.woocommerce .box:hover a.added_to_cart {color: #404040;}
.woocommerce .product-style-2 .box:hover a.button,
.woocommerce .product-style-2 .box:hover a.post_name,
.woocommerce .product-style-2 .box:hover a.add_to_wishlist,
.woocommerce .product-style-2 .box:hover .addtowishlist a,
.woocommerce .product-style-2 .box:hover .addtowishlist {color: #c94732}
.woocommerce #content .product-style-2 .box a.button{color: #404040;background:#ffffff;}.woocommerce #content .product-style-2 .box:hover a.button{color: #c94732}.row .woocommerce .box  span.onsale,.woocommerce-page #content span.onsale {background-color: #c94732; color: #ffffff}
.row .woocommerce .box  span.wc-new-badge,.woocommerce-page #content span.wc-new-badge {background-color: #76BAD1; color: #ffffff}
.featured-bar {background-color: #c94732;color: #ffffff}
.row .woocommerce .box span.soldout,.woocommerce-page #content span.soldout {background-color: #c1c2c4;background-color: rgba(193,194,196,0.7); color: #ffffff}
.woocommerce #container #content div.product .woocommerce-tabs ul.tabs li.active {border-top: 3px solid #404040}
#respond #commentform .form-submit, #respond #commentform .form-submit #submit {background-color: #eeeeee}
#commentform input,#commentform .comment-form-comment textarea {border: 1px solid #eeeeee}
.woocommerce #main .widget_price_filter .price_slider_wrapper .ui-widget-content,.woocommerce-page #main .widget_price_filter .price_slider_wrapper .ui-widget-content,.woocommerce #main .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page #main .widget_price_filter .ui-slider .ui-slider-range,#jaw-menu .widget_price_filter .ui-slider .ui-slider-range,#jaw-menu .widget_price_filter .price_slider_wrapper .ui-widget-content {background: none #949494 repeat scroll 0 0}
.woocommerce #main .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce-page #main .widget_price_filter .ui-slider .ui-slider-handle,#jaw-menu .widget_price_filter .ui-slider .ui-slider-handle {background-color: #404040}
.woocommerce #main .widget_layered_nav_filters ul li a {background-color: #404040; color: #ffffff}
.woocommerce #main #content input.button, .woocommerce #main #respond input#submit, .woocommerce #main a.button, .woocommerce button.button, .woocommerce #main input.button, .woocommerce-page #main #content input.button, .woocommerce-page #main #respond input#submit, .woocommerce-page #main a.button, .woocommerce-page #main button.button, .woocommerce-page #main input.button, .woocommerce-page #main .order a.button:hover,#jaw-menu button.button,#jaw-menu input.button,#jaw-menu ul.top-nav .widget_shopping_cart .buttons a,#jaw-menu ul.top-nav .widget_shopping_cart .buttons a:hover,#content .woocommerce .return-to-shop .button.wc-backward,#content .woocommerce .return-to-shop .button.wc-backward:hover,#jaw-menu ul.top-nav .widget_shopping_cart .buttons a:focus,.woocommerce #main #content .order .order-actions .button.view {background: #404040;color: #ffffff}
.woocommerce table.shop_table .cart-subtotal > th,
                #content .shop_table.order_details tfoot tr:nth-child(2n+1),
                .woocommerce table.shop_table .cart-subtotal > td,
                .woocommerce #payment .payment_box.payment_method_bacs > p,
                .woocommerce #payment div.payment_box p:last-child, .woocommerce-page #payment div.payment_box p{color: #ffffff;}.widget_wysija_cont .wysija-submit {background-color: #404040;color: #ffffff}
.widget_wysija_cont .wysija-submit:hover {background-color: #404040;color: #ffffff}
.widget_wysija_cont .wysija-submit:focus {background-color: #404040;color: #ffffff}
.btn{background-color: #404040;color: #ffffff}
.btn:hover{background-color: #404040;color: #ffffff}
.btn:focus{background-color: #404040;color: #ffffff}
.portfolio .featured .wrapper{background: rgba(148,148,148, 0.9); }
.portfolio .featured .wrapper .wrapper_icon{color: #404040}
.portfolio .featured .wrapper a{color: #404040}
.section-box, .section-line {border-bottom: 1px solid #949494}
.section-header .section-name {background-color: #949494}
h3.section-big {color: #404040;border-bottom: 1px solid #404040;font-size:26px;}
.section-big-wrapper {border-bottom: 1px solid #949494}
h3.section-woo {color: #404040;border-bottom: 2px solid #404040}
.section-woo-wrapper {border-bottom: 2px solid #949494;border-top: 1px solid #949494}
.woo-orderby-form-list-title {color: #949494;}
.woo-orderby-form-list-title:hover {color: #404040;}
.woo-orderby-form-list {border: 1px solid #949494}
.woo-orderby-form-list {border-top: 1px solid #ffffff;}
.woo-orderby-form:hover .woo-orderby-form-list-title {color: #404040;}
ul.items-sortby-list li a:hover {color: #404040}
.woo-orderby-form:hover {border-top:1px solid #404040;border-left:1px solid #949494;border-right:1px solid #949494;}
a.post-type-video-icon,a.post-type-video-icon:focus,.carousel-control,.carousel-control:focus {opacity:1;color: #949494}
a.post-type-video-icon:hover,.carousel-control:hover {opacity:1;color: #404040}
.category-bar .woo-orderby-form, 
.category-bar .woo-orderby-form:hover {border: 1px solid #949494;}
.category-bar .woo-orderby-form-list {border-top: 1px solid #949494;}
.category-bar .woocommerce-result-count {color: #949494;}
.page-numbers  li  .page-numbers {border-color: #949494; color:#949494;}
.page-numbers  li  .page-numbers.current {border-color: #404040; color:#404040;}
.pagination.infinitemore{border-top: 1px solid #949494}
.pagination.infinitemore .text,#infscr-loading{background:#ffffff; color:#949494;}
#page-nav a > span.post_page {border-color: #949494; color:#949494;}
#page-nav span.post_page {border-color: #404040; color:#404040;}
#page-nav a:hover > span.post_page {border-color: #404040; color:#404040;}
.social-icons, .social a {color: #949494}
.woocommerce-page #content.product-content .panel #comments a.button {background: #ebebeb;color: #464646;}
.woocommerce-page #content.product-content .panel #comments a.button:hover {background: #c54747;color: #c94732;}
ul.jw-tweets-widgets-tweets {border-left: 2px solid #949494}
ul.jw-tweets-widgets-tweets li .jw-tweets-widgets-icon {background-color: #ffffff}
.top-bar-woo-cart .top-bar-cart-content.woocommerce .buttons .button{background: #404040;color: #ffffff}
#header .small-menu.row-menu-border {border-color: #c1c2c4}
#jaw-menu ul.top-nav ul.sub-menu, .top-bar-cart-content, .top-bar-login-form {background-color: #FBFBFB}
.top-bar-login-form .menu li {background: #FBFBFB}
#jaw-menu ul.top-nav ul.sub-menu li a, 
.top-bar-woo-cart .top-bar-cart-content.woocommerce .product_list_widget > li, 
.top-bar-woo-cart .top-bar-cart-content.woocommerce .product_list_widget > li a, 
.top-bar-woo-cart .top-bar-cart-content.woocommerce .total, 
.top-bar-login-form .menu li a {color: #000000}
#jaw-menu ul.top-nav > li a {color: #fafafa}
#jaw-menu ul.top-nav > li.current-menu-item a,#jaw-menu ul.top-nav > li.current-page-parent a,#jaw-menu ul.top-nav > li.current-menu-parent a,#jaw-menu ul.top-nav > li:hover a {color: #c94732}
#jaw-menu ul.top-nav ul.sub-menu li a:hover,
#jaw-menu ul.top-nav > li a:focus {color: #c94732}
.home #jaw-menu ul.top-nav > li.current-menu-item > a,.home #jaw-menu ul.top-nav > li.current-page-parent > a,.home #jaw-menu ul.top-nav > li.current-menu-parent > a {color: #fafafa}
#jaw-menu ul.top-nav > li > a:hover,
#jaw-menu ul.top-nav > li > a:focus {color: #c94732;}
ul.top-nav > li.jaw-menu-item-dropdown ul.sub-menu > li:hover {color: #c94732}
.top-bar-woo-cart .top-bar-cart-content.woocommerce .buttons .button:hover {color: #c94732}
.top-bar-login-form .menu li:hover a {color: #c94732}
#jaw-menu ul.top-nav > li.jaw-menu-item-dropdown ul.sub-menu > li:hover > a,
#jaw-menu ul.top-nav > li.jaw-menu-item-dropdown ul.sub-menu > li > a:hover {color: #c94732;}
.top-bar-woo-cart .top-bar-cart-content.woocommerce .buttons .button:focus, 
.top-bar-woo-cart .top-bar-cart-content.woocommerce .buttons .button:hover {color: #ffffff;}
ul.top-nav li.jaw-menu-item-dropdown > ul.sub-menu > li, .top-bar-woo-cart .top-bar-cart-content.woocommerce .product_list_widget > li {border-bottom: 1px solid #c1c2c4;}
#header .small-menu ul.top-nav > li > ul.sub-menu, ul.top-nav ul.sub-menu li ul.sub-menu {border-top: 1px solid #c1c2c4;}
ul.top-nav li.jaw-menu-item-fullwidth ul.sub-menu > li ul.sub-menu > li , 
.top-bar-login-form .menu li {border-bottom: 1px solid #c1c2c4;}
ul.top-nav > li > ul.sub-menu {border-bottom: 3px solid #404040}
#jaw-menu ul.jw-tweets-widgets-tweets li .jw-tweets-widgets-icon {background-color: #FBFBFB}
#jaw-menu ul.jw-tweets-widgets-tweets li a {color: #00B6F1 !important;}
.sub-menu.widget-sub-menu h3 {border-bottom: 1px solid #c1c2c4}
.sub-menu.widget-sub-menu #rating-widget .rating-widget-row {border-bottom: 1px solid #c1c2c4;}
.sub-menu.widget-sub-menu .widget.tab_post_widget .tab-content .tab-post-row {border-bottom: 1px solid #c1c2c4;}
#header .top-bar ul.menu ul.sub-menu {background-color: #FBFBFB}
#header .top-bar ul.menu > li > ul.sub-menu {border-bottom: 3px solid #404040}
#header .small-menu ul.menu > li > ul.sub-menu {border-top: 1px solid #c1c2c4;}
#header .big-menu ul.menu > li > ul.sub-menu {border-top: 1px solid #c1c2c4;}
#header .top-bar ul.menu li.menu-item-has-children > ul.sub-menu > li {border-bottom: 1px solid #c1c2c4}
.jw-rating {background: #949494}
.jw-rating .jw-rating-row{border-bottom: 1px solid #949494}
#content article.content.format-gallery .carousel-control{background-color: #ffffff}
.post-box #admin_info {background: #949494}
.post-box #admin_info h3 {border-bottom: 1px solid #949494}
.jw-rating-row-title {background:#404040}
.jw-rating-row-overall-box {background:#404040}
.jaw-rating-row-desc{background:#949494}
#admin_info {background: #949494}
.about_author .author_name  {border-bottom: 1px solid #949494 }
.post-box .share_post .share_hearline {}
.woocommerce div.product .entry-summary form.cart .variations select,.woocommerce-page div.product .entry-summary form.cart .variations select,.woocommerce #content div.product .entry-summary form.cart .variations select,.woocommerce-page #content div.product .entry-summary form.cart .variations select {border: 1px solid #949494}
.woocommerce div.product .entry-summary form.cart .button,.woocommerce-page div.product .entry-summary form.cart .button,.woocommerce #content div.product .entry-summary form.cart .button,.woocommerce-page #content div.product .entry-summary form.cart .button {background-color: #c94732;color: #ffffff}
.woocommerce div.product .entry-summary .bundle_form .button,.woocommerce-page div.product .entry-summary .bundle_form .button,.woocommerce #content div.product .entry-summary .bundle_form .button,.woocommerce-page #content div.product .entry-summary .bundle_form .button {background-color: #c94732;color: #ffffff}
#content .woocommerce-message:before {color: #ffffff}
#content .woocommerce-error:before {color: #ffffff}
#content .woocommerce-info:before {color: #ffffff}
#content .woocommerce-message {background-color: #60d283;color: #ffffff;}
#content .woocommerce-error {background-color: #B81C23;color: #ffffff;}
#content .woocommerce-info {background-color: #1E85BE;color: #ffffff;}
#content .woocommerce-message a {color: #ffffff;}
#content .woocommerce-error a {color: #ffffff;}
#content .woocommerce-info a {color: #ffffff;}
.woocommerce #content .entry-summary .quantity .plus,.woocommerce #content .entry-summary .quantity .minus {border: 1px solid #949494}
.woocommerce #content .entry-summary .quantity .input-text  {border-top: 1px solid #949494;border-bottom: 1px solid #949494}
.product_meta span.sku_wrapper,.product_meta span.posted_in,.product_meta span.tagged_as {border-top: 1px solid #949494}
.woocommerce #main .widget_shopping_cart .widget_shopping_cart_content .buttons a.button,#main .widget_shopping_cart .widget_shopping_cart_content .buttons a.button {background-color: #404040;color: #ffffff}
.panel-success > .panel-heading {background-color: #60d283;color: #ffffff}
.panel-info > .panel-heading {background-color: #1E85BE;color: #ffffff}
.panel-warning > .panel-heading {background-color: #ffeeb0;color: #ffae33}
.panel-danger > .panel-heading {background-color: #B81C23;color: #ffffff}
.wpcf7 input,.wpcf7 textarea {border: 1px solid #949494;}
.wpcf7 input.wpcf7-submit {border: 0px;background-color: #404040;color: #ffffff}
.wpcf7 input.wpcf7-submit:hover {background-color: #404040}
#content span.wpcf7-not-valid-tip {background-color: #B81C23;border-color: #B81C23;color: #ffffff}
#content div.wpcf7-validation-errors {background-color: #ffeeb0;border-color: #ffeeb0;color: #ffae33}
#content div.wpcf7-mail-sent-ok {background-color: #60d283;border-color: #60d283;color: #ffffff}
.widget_wysija_cont input {border: 1px solid #949494;}
iframe {border: 1px solid #949494;}
.widget_nav_menu ul.menu > li {background-color: #FBFBFB;border-bottom: 1px solid #c1c2c4;}
.widget_nav_menu ul.menu > li > a:hover {color: #c94732}
.widget_nav_menu ul.menu > li.active-item .widget-menu-dropdown {color: #c94732}
.widget_nav_menu ul.menu > li.active-item > a {color: #c94732}
.widget_nav_menu ul.menu > li ul li span, .widget-menu-dropdown {color: #c1c2c4}
.widget_nav_menu ul.menu > li.current-menu-item a,.widget_nav_menu ul.menu > li.current-menu-item .widget-menu-dropdown {color: #c94732}
.jw_login_widget ul.menu > li {background-color: #FBFBFB;border-bottom: 1px solid #c1c2c4;}
.jw_login_widget ul.menu > li > a:hover {;color: #c94732}
.jw_login_widget ul.menu > li.active-item .widget-menu-dropdown {color: #c94732}
.jw_login_widget ul.menu > li.active-item > a {color: #c94732}
.jw_login_widget ul.menu > li ul.sub-menu {background-color: #ffffff}
.jw_login_widget ul.menu > li ul li span, .widget-menu-dropdown {color: #c1c2c4}
#jaw-menu ul.top-nav ul.sub-menu .widget_nav_menu ul.menu li a {color: #000000}
#jaw-menu ul.top-nav ul.sub-menu .widget_nav_menu ul.menu li.active-item > a,
#jaw-menu ul.top-nav ul.sub-menu .widget_product_categories ul li.active-item > a,
#jaw-menu ul.top-nav ul.sub-menu .widget_categories ul li.active-item > a {color: #c94732}
#jaw-menu ul.top-nav ul.sub-menu .widget_nav_menu ul.menu li > ul.sub-menu > li a:hover {color: #c94732}
.jaw_ecommerce_widget .top-bar-cart-content.woocommerce .buttons .button{background: #404040;color: #ffffff}
.jaw_ecommerce_widget .top-bar-cart-content.woocommerce .product_list_widget > li, 
.jaw_ecommerce_widget .top-bar-cart-content.woocommerce .product_list_widget > li a, 
.jaw_ecommerce_widget .top-bar-cart-content.woocommerce .total {color: #000000}
.jaw_ecommerce_widget .top-bar-cart-content.woocommerce .buttons .button:hover {color: #c94732}
.jaw_ecommerce_widget .top-bar-cart-content.woocommerce .buttons .button:focus, 
.jaw_ecommerce_widget .top-bar-cart-content.woocommerce .buttons .button:hover {color: #ffffff;}
.jaw_ecommerce_widget .top-bar-login-form .regiter-button a.btnregiter{background: #404040;color: #ffffff;}
.jaw_ecommerce_widget .top-bar-login-form .regiter-button a.btnregiter:hover {background: #404040;color: #ffffff;}
.widget_categories > ul > li {background-color: #FBFBFB;border-bottom: 1px solid #c1c2c4;}
.widget_categories ul > li ul.children {background-color: #ffffff}
.widget_categories ul > li.active-item {color: #c94732;}
.widget_categories ul > li.active-item ul li {color: #404040;}
.widget_categories ul > li.active-item > a,
.widget_categories ul > li.active-item > div.widget-menu-dropdown {color: #c94732}
.widget_product_categories ul.product-categories > li {background-color: #FBFBFB;border-bottom: 1px solid #c1c2c4;}
.widget_product_categories ul.product-categories > li ul.children {background-color: #ffffff}
#jaw-menu .widget_product_categories ul.product-categories > li ul.children {background-color: #FBFBFB}
.widget_product_categories ul.product-categories > li.active-item > a,
.widget_product_categories ul.product-categories > li.active-item > span.count,
.widget_product_categories ul.product-categories > li.active-item > div.widget-menu-dropdown {color: #c94732}
.widget_product_categories ul.product-categories > li.current-cat > a,.widget_product_categories ul.product-categories > li.current-cat > span.count,.widget_product_categories ul.product-categories > li.current-cat > .widget-menu-dropdown,#jaw-menu .widget_product_categories ul.product-categories > li.current-cat > a,#jaw-menu .widget_product_categories ul.product-categories > li.current-cat > span.count,#jaw-menu .widget_product_categories ul.product-categories > li.current-cat > .widget-menu-dropdown {color: #c94732}
.widget_product_categories ul.product-categories > li > .children li:hover > a,.widget_product_categories ul.product-categories > li > .children li:hover span.count,.widget_product_categories ul.product-categories > li > .children li:hover > .widget-menu-dropdown,#jaw-menu .widget_product_categories ul.product-categories > li > .children li:hover > a,#jaw-menu .widget_product_categories ul.product-categories > li > .children li:hover span.count,#jaw-menu .widget_product_categories ul.product-categories > li > .children li:hover > .widget-menu-dropdown {color: #c94732}
.widget_pages ul li {border-bottom: 1px solid #c1c2c4}
.widget_pages ul li ul.children li:first-child {border-top: 1px solid #c1c2c4}
.widget_archive ul li,.widget_meta ul li {border-bottom: 1px solid #c1c2c4}
.widget_calendar table,.widget_calendar table td,.widget_calendar table th {border: 1px solid #949494}
.widget_calendar table th {background-color: #949494}
.widget_calendar table td a,.widget_calendar table td a:hover {color: #404040}
.tagcloud a {font-family: Crete Round ;color: #949494;border: 1px solid #949494}
.tagcloud a:hover {color: #404040;border: 1px solid #404040}
#jaw-menu ul.top-nav ul.sub-menu li .tagcloud a {font-family: Crete Round ;color: #949494;border: 1px solid #949494}
#jaw-menu ul.top-nav ul.sub-menu li .tagcloud a:hover {color: #404040;border: 1px solid #404040}
.widget.woocommerce ul.cart_list li,.woocommerce-page ul.cart_list li,.widget.woocommerce ul.product_list_widget li,.woocommerce-page ul.product_list_widget li {border-bottom: 1px solid #949494}
.jw-rating-area,.woocommerce #comments .star-rating:before, .woocommerce-page #comments .star-rating:before {color: #C1C2C4}
.jw-ratig-background {color: #c94732}
.comment-form-rating .stars a:hover {color: #c94732}
.woocommerce .star-rating span, .woocommerce-page .star-rating span {color: #c94732}
.woocommerce .star-rating:before, .woocommerce-page .star-rating:before {color: #949494}
#header .header-small-content .header-logo h1 {margin-top: 15px;margin-left: 0px;margin-bottom: 0px;}
#header .header-small-content .header-logo p {margin-top: 15px;margin-left: 0px;margin-bottom: 0px;}
#header .big-menu .header-logo h1 {margin-top: 15px;margin-left: 0px;margin-bottom: 0px;}
#header .big-menu .header-logo p {margin-top: 15px;margin-left: 0px;margin-bottom: 0px;}
#header .big-menu ul.top-nav > li.current-menu-item > .jaw-menu-href-title,.home #header .big-menu #jaw-menu ul.top-nav > li.current-menu-item > a {color: #c94732}
#header .big-menu ul.top-nav ul.sub-menu li.no-dropdown:hover  a span {color: #c94732}
#header .big-menu ul.top-nav ul.sub-menu li.has-dropdown:hover > a span {color: #c94732}
#footer {background-color: #404040;}
#footer .fullwidth-block {background-color: #404040;border-top: 1px solid #5e605f}
#footer .section-box, #footer .section-line {border-bottom: 1px solid #5e605f;}
#footer .section-header .section-name {background-color: #5e605f}
#footer {color: #fafafa}
#footer a, #footer a:focus {color: #bdbdbd}
#footer a:hover {color: #c94732}
#footer ul.jw-tweets-widgets-tweets li .jw-tweets-widgets-icon {background-color: #404040}
#footer ul.jw-tweets-widgets-tweets {border-left: 2px solid #5e605f;}
#footer .social-icons, #footer .social a {color: #5e605f}
#footer .date > span {color: #5e605f}
#footer .widget_calendar table th {background-color: #5e605f}
#footer ul.menu > li > ul.sub-menu li:hover > a,#footer ul.menu > li > ul.sub-menu li:hover > .widget-menu-dropdown span {color:#c94732}
#footer .widget.woocommerce ul.cart_list li, #footer .woocommerce-page ul.cart_list li, #footer .widget.woocommerce ul.product_list_widget li, #footer .woocommerce-page ul.product_list_widget li {border-bottom: 1px solid #5e605f;}
#footer .widget_archive ul li, #footer .widget_meta ul li {border-bottom: 1px solid #5e605f;}
#footer .widget_archive ul li a {color: #5e605f}
#footer .widget_archive ul li a:hover,#footer .widget_archive ul li a:focus {color: #c94732}
#footer .widget_pages ul li {border-bottom: 1px solid #5e605f;}
#footer .widget_pages ul li ul.children li:first-child {border-top: 0px solid #5e605f;}
#footer .widget_categories > ul > li {background-color: #404040;border-bottom: 1px solid #5e605f;color: #5e605f;}
#footer .widget_categories > ul > li a {color: #5e605f;}
#footer .widget_categories > ul > li.active-item {color: #c94732;}
#footer .widget_categories > ul > li.active-item span {color: #c94732;}
#footer .widget_categories > ul > li.active-item a {color: #c94732;}
#footer .widget_nav_menu ul.menu > li {background-color: #404040;border-bottom: 1px solid #5e605f;}
#footer .widget_nav_menu ul.menu a {color: #5e605f}
#footer .widget_nav_menu ul.menu > li ul li span, #footer .widget-menu-dropdown {color: #5e605f;}
#footer .widget_product_categories ul.product-categories > li {background-color: #404040;border-bottom: 1px solid #5e605f;}
#footer .widget_product_categories ul.product-categories > li a {color: #5e605f;}
#footer .widget_product_categories ul.product-categories > li.active-item > a,#footer .widget_product_categories ul.product-categories > li.active-item > .widget-menu-dropdown {color: #c94732;}
#footer .widget_product_categories ul.product-categories > li ul.children li:hover * {color: #c94732}
#footer .widget_nav_menu ul.menu > li.active-item .widget-menu-dropdown {color: #c94732}
#footer .widget_nav_menu ul.menu > li.active-item > a {background-color: #404040;color: #c94732}
#footer h3.section-big {border-bottom: 1px solid #5e605f;color: #5e605f;font-size:20px}
#footer .section-big-wrapper {border-bottom: 1px solid #5e605f;}
#footer .jw_login_widget ul.menu > li {background-color: #404040;border-bottom-color: #5e605f;}
#footer .jw_login_widget ul.menu > li a {color: #5e605f}
#footer .jw_login_widget ul.menu > li:hover * {color: #c94732}
#footer .nav-tabs > li.active > a,
#footer .nav-tabs > li.active > a:hover,
#footer .nav-tabs > li.active > a:focus {border-color: #5e605f #5e605f transparent #5e605f;background-color: #404040}
#footer .jaw-tabs.colored .nav-tabs > li > a {border-color: #5e605f;}
#footer .jaw-tabs.colored .nav-tabs {background-color:#00475b;}
#footer .nav-tabs {border-bottom: 1px solid #00475b;}
#footer .nav > li > a:hover,#footer .nav > li > a:focus {background-color: #00475b;border-bottom-color: #5e605f}
#footer .yith-woocompare-widget a.compare,#footer .yith-woocompare-widget a.clear-all {background-color: #5e605f;color: #bdbdbd}
.woocommerce #footer .widget_shopping_cart .widget_shopping_cart_content .buttons a.button,#footer .widget_shopping_cart .widget_shopping_cart_content .buttons a.button {background-color: #5e605f;color: #bdbdbd}
#footer .widget_product_categories ul.product-categories > li ul.children {background-color: #404040}
#footer .widget_pages ul li a {color: #5e605f;}
#footer .widget_pages ul li a:hover, #footer .widget_pages ul li a:focus {color: #c94732;}
#footer .tagcloud a {border-color: #bdbdbd}
#footer .tagcloud a:hover {color: #c94732;border-color: #c94732}
#footer .widget_wysija .wysija-paragraph label{color: #5e605f;}
#footer .widget_wysija_cont .wysija-submit {background-color: #5e605f;}
#footer .latestpostwidget-content a {font-family: open sans;font-size: 15px;}
.row-fullwidth .featured-footer-content {background: none repeat scroll 0 0 #fafafa}
.mobile-menu-selectbox select {border: 1px solid #c1c2c4;}
@media only screen and (max-width: 767px) {.row-fullwidth .fullwidth-block.small-menu.main-menu, #header .small-menu .jaw-menu-bar,.row-fullwidth .fullwidth-block.big-menu.main-menu, #header .big-menu .jaw-menu-bar, #jaw-mobile-menu .widget_product_categories ul.product-categories > li {background: none repeat scroll 0 0 #fafafa;}
}#jaw-mobile-menu ul.top-nav-mobile ul.sub-menu li .tagcloud a {color: #00475B;border: 1px solid #00475B}
#jaw-mobile-menu ul.top-nav-mobile ul.sub-menu li .tagcloud a:hover {color: #c94732;border: 1px solid #c94732}
#jaw-mobile-menu ul.top-nav-mobile a:hover, #jaw-mobile-menu ul.top-nav-mobile a:active, #jaw-mobile-menu ul.top-nav-mobile a.active, #jaw-mobile-menu ul.top-nav-mobile a:focus, #jaw-mobile-menu ul.top-nav-mobile .widget_calendar table td#prev a:hover, #jaw-mobile-menu ul.top-nav-mobile .widget_calendar table td#next a:hover{color: #c94732}#jaw-mobile-menu ul.top-nav-mobile ul.sub-menu li a,#jaw-mobile-menu ul.top-nav-mobile ul.sub-menu li {color: #00475B}
#jaw-mobile-menu ul.top-nav-mobile > li.current-page-parent a,#jaw-mobile-menu ul.top-nav-mobile li.current-page-parent a,#jaw-mobile-menu ul.top-nav-mobile > li:hover a,#jaw-mobile-menu .widget_product_categories ul.product-categories > li.active-item > a,#jaw-mobile-menu .widget_product_categories ul.product-categories > li.active-item > div.widget-menu-dropdown,#jaw-mobile-menu .widget_product_categories ul.product-categories > li.active-item > span.count {color: #c94732}
#jaw-mobile-menu ul.top-nav-mobile ul.sub-menu li a:hover{color: #c94732}
#jaw-mobile-menu ul.top-nav-mobile > li a {color: #00475B}
