.jaw-menu-bar {background-color: #464646;}

ul.top-nav {padding: 0px 0px 0px 20px;position: relative;text-align: right;margin-bottom: 0px;margin-right: 0px;}
ul.top-nav ul {text-align: left;}
ul.top-nav li {padding: 0px;list-style: none;line-height: 24px;margin: 0px;}
ul.top-nav li a {line-height: 16px;text-decoration: none;line-height: 24px;}
ul.top-nav > li > a {font-size:16px;line-height: 18px;text-transform: uppercase;}
ul.top-nav li.jaw-menu-item-depth-0 > a {display: block; height: auto; margin: 5px 0px 25px 0px;}
ul.top-nav .current-menu-ancestor > a,
ul.top-nav .current-menu-item > a {font-weight: normal;color: #000;}
ul.top-nav .current-menu-ancestor > a:hover {color: #000;}
ul.top-nav > li {display: inline-block;list-style: none;position: relative;margin-left: 18px;}
ul.top-nav > li a,
ul.top-nav > li a:hover {color: #000;}
ul.top-nav > li a.link-no-active,
ul.top-nav > li a.link-no-active:hover {color: #000;}
ul.top-nav li ul li a {background: none;border: 0;padding: 0px;display: block;}
ul.top-nav li ul li a:hover {background: none;}

ul.top-nav ul.sub-menu {visibility: hidden;display: none;background: #FBFBFB;padding: 0px 0px 0px 0px;position: absolute;width: 200px;left: 0px;top:auto;z-index:1000;}
ul.top-nav li.jaw-menu-item-fullwidth ul.sub-menu {width: auto;}
ul.top-nav ul.sub-menu li {position: relative;}
ul.top-nav ul.sub-menu li a {color: #464646;}
ul.top-nav ul.sub-menu li a.link-no-active {color: #464646;cursor: default;}
ul.top-nav ul.sub-menu li a.link-no-active:hover {color: #464646;}
ul.top-nav ul.sub-menu li a:hover {color: #bbb;}
ul.top-nav ul.sub-menu li ul.sub-menu {position: absolute;left:200px;top:0px;margin-top: 0px;}

ul.top-nav li.has-dropdown:hover > ul.sub-menu {visibility: visible;display: block;}
.jaw-menu-submenu-icon {display: none;}

/* FULL WIDTH MENU ************************************************************/
ul.top-nav li.jaw-menu-item-fullwidth {position: static;}
ul.top-nav li.has-dropdown.jaw-menu-item-fullwidth ul.sub-menu li ul.sub-menu {margin-top: -1px;}
ul.top-nav li.has-dropdown.jaw-menu-item-fullwidth:hover > ul.sub-menu > li ul.sub-menu {visibility: visible;display:block;}
ul.top-nav li.jaw-menu-item-fullwidth > ul.sub-menu > li {padding: 10px 10px 15px 10px;}
ul.top-nav li.jaw-menu-item-fullwidth > ul.sub-menu {padding:0 10px;}
ul.top-nav li.jaw-menu-item-fullwidth ul.sub-menu li.jaw-menu-item-depth-1 > a {padding-bottom: 3px;border-bottom: 1px solid #464646;}
ul.top-nav li.jaw-menu-item-fullwidth ul.sub-menu li.jaw-menu-item-depth-1 > a span.jaw-menu-href-title {font-weight: 700;}
ul.top-nav li.jaw-menu-item-fullwidth ul.sub-menu li.jaw-menu-item-depth-1 > a span {}
ul.top-nav li.jaw-menu-item-fullwidth > ul.sub-menu {width: 100%;left: 0px;top:auto;z-index:1000;padding-top: 0px;}
ul.top-nav li.jaw-menu-item-fullwidth ul.sub-menu > li {float: left; display: inline-block;position: static;}
ul.top-nav li.jaw-menu-item-fullwidth ul.sub-menu > li ul.sub-menu {position: static;}
ul.top-nav li.jaw-menu-item-fullwidth ul.sub-menu > li ul.sub-menu > li ul.sub-menu {margin-left: 15px;}
ul.top-nav li.jaw-menu-item-fullwidth ul.sub-menu > li ul.sub-menu > li {float: none;display: block;}
ul.top-nav li.jaw-menu-item-fullwidth ul.sub-menu > li ul.sub-menu > li a {line-height: 24px;}
ul.top-nav li.jaw-menu-item-fullwidth > ul.sub-menu > li > ul.sub-menu li {padding: 5px 0px;}

ul.top-nav li.jaw-menu-item-fullwidth .widget select {width: 100%;}

/* DROPDOWN MENU **************************************************************/
ul.top-nav li.jaw-menu-item-dropdown > ul.sub-menu > li {padding: 5px 20px 5px 20px;}
ul.top-nav li.jaw-menu-item-dropdown:first-child > ul.sub-menu li:first-child li.jaw-menu-item-depth-3:first-child {padding-top: 4px;}
ul.sub-menu li.has-dropdown.jaw-menu-item-dropdown .jaw-menu-submenu-icon {font-size:8px;line-height: 12px;display: block;position: absolute; right: 5px;top: 11px;}
ul.sub-menu li.no-dropdown.jaw-menu-item-dropdown .jaw-menu-submenu-icon {display: none;}
.jaw-menu-item-fullwidth .jaw-menu-submenu-icon {display: none !important;}
ul.top-nav li.jaw-menu-item-dropdown ul.sub-menu li.jaw-menu-item-depth-1 ul {margin-top: -1px;}


/* CUSTOM MENU ****************************************************************/
ul.top-nav li.jaw-menu-item-custom {position: static;}
ul.top-nav li.jaw-menu-item-custom a {position: relative;}
ul.top-nav li.jaw-menu-item-custom > ul.sub-menu > li {padding: 0px 5px;}
ul.top-nav li.jaw-menu-item-custom ul li a {width: 100px;}
ul.top-nav li.jaw-menu-item-custom ul.sub-menu {width: auto;max-width: 100%;display: block;left: auto;}
ul.top-nav li.jaw-menu-item-custom ul.sub-menu > li {float: left; display: inline-block;position: static;min-width: 100px;}
ul.top-nav li.jaw-menu-item-custom ul.sub-menu > li:last-child {}
ul.top-nav li.jaw-menu-item-custom ul.sub-menu > li ul.sub-menu {position: static;}
ul.top-nav li.jaw-menu-item-custom ul.sub-menu > li ul.sub-menu > li {float: none;display: block;}
ul.top-nav li.has-dropdown.jaw-menu-item-custom:hover > ul.sub-menu > li ul.sub-menu {visibility: visible;display:block;}
ul.top-nav li.jaw-menu-item-custom ul.sub-menu li.jaw-menu-item-depth-1 > a span.jaw-menu-href-title {font-weight: 700;}
ul.top-nav li.jaw-menu-item-custom ul.sub-menu li.jaw-menu-item-depth-1 > a span {display: block;}

/* MENU COLS ******************************************************************/
ul.top-nav li.cols-count-1 .sub-menu li {width: 100%}

ul.top-nav > li.cols-count-2 > .sub-menu > li {width: 50%}
ul.top-nav > li.cols-count-2 > .sub-menu > li:nth-child(2) {float: none;clear: both;}

ul.top-nav > li.cols-count-3 > .sub-menu > li {width: 33.33%}
ul.top-nav > li.cols-count-3 > .sub-menu > li:nth-child(3) {float: none;}

ul.top-nav > li.cols-count-4 > .sub-menu > li {width: 25%}
ul.top-nav > li.cols-count-4 > .sub-menu > li:nth-child(4) {float: none;}

ul.top-nav > li.cols-count-5 > .sub-menu > li {width: 20%}
ul.top-nav > li.cols-count-5 > .sub-menu > li:nth-child(5) {float: none;}

ul.top-nav > li.cols-count-6 > .sub-menu > li {width: 16.666%}
ul.top-nav > li.cols-count-6 > .sub-menu > li:nth-child(6) {float: none;}

ul.top-nav > li.cols-count-7 > .sub-menu > li {width: 14.285%}
ul.top-nav > li.cols-count-7 > .sub-menu > li:nth-child(6) {float: none;}

ul.top-nav > li.cols-count-8 > .sub-menu > li {width: 12.5%}
ul.top-nav > li.cols-count-8 > .sub-menu > li:nth-child(6) {float: none;}

ul.top-nav > li.cols-count-9 > .sub-menu > li {width: 11.111%}
ul.top-nav > li.cols-count-9 > .sub-menu > li:nth-child(6) {float: none;}

ul.top-nav > li.cols-count-10 > .sub-menu > li {width: 10%}
ul.top-nav > li.cols-count-10 > .sub-menu > li:nth-child(6) {float: none;}

/* HIDDEN MENU ****************************************************************/
ul.top-nav li.jaw-menu-item-hidden {display: none;}

/* MENU WITH WIDGETS AREA *****************************************************/
.sub-menu.widget-sub-menu ul {padding: 0px;}
.sub-menu.widget-sub-menu li:last-child {}
.sub-menu.widget-sub-menu img {width: 100%;height: auto;}
.sub-menu.widget-sub-menu .jw_login_widget img {width: auto;}
.sub-menu.widget-sub-menu h3 {margin: 0px 0px 21px 0px;font-size: 18px;line-height: 18px;padding-bottom: 5px;}

.sub-menu.widget-sub-menu .widget.woocommerce ul.cart_list li:last-child,
.sub-menu.widget-sub-menu .woocommerce-page ul.cart_list li:last-child,
.sub-menu.widget-sub-menu .widget.woocommerce ul.product_list_widget li:last-child,
.sub-menu.widget-sub-menu .woocommerce-page ul.product_list_widget li:last-child {border-bottom: 0px;}

/* MENU ICONS *****************************************************************/
li.jaw-menu-item-depth-0 > a > .jaw-menu-icon {float:none;display: block;text-align: center;margin: 5px 0px;font-size: 28px;min-height: 28px;}
ul.top-nav li.jaw-menu-item-fullwidth ul.sub-menu li.jaw-menu-item-depth-1 > a span.jaw-menu-icon {display: inline !important;}
ul.sub-menu .jaw-menu-icon {float:none;display: inline;margin-right: 5px;font-size: 12px;}

/* MOBILE MENU ************************************************************** */
/* ************************************************************************** */
ul.top-nav-mobile {
    padding: 0px;
}
ul.top-nav-mobile li {
    list-style: none;
}
ul.top-nav-mobile li.jaw-menu-item-depth-0 {
    border-bottom: 1px solid red;
}
ul.top-nav-mobile li.jaw-menu-item-depth-0 > a,
ul.top-nav-mobile li.jaw-menu-item-depth-1 > a,
ul.top-nav-mobile li.jaw-menu-item-depth-2 > a,
ul.top-nav-mobile li.jaw-menu-item-depth-3 > a {
    line-height: 24px;
    padding: 5px 0px;
    display: block;
    font-size: 16px;
}
ul.top-nav-mobile ul.sub-menu .jaw-menu-icon {
    margin-right: 7px;
}
ul.top-nav-mobile li.jaw-menu-item-depth-1:first-child > a,
ul.top-nav-mobile li.jaw-menu-item-depth-2:first-child > a,
ul.top-nav-mobile li.jaw-menu-item-depth-3:first-child > a {
    padding-top: 0px;
}
ul.top-nav-mobile li.jaw-menu-item-depth-1:last-child > a,
ul.top-nav-mobile li.jaw-menu-item-depth-2:last-child > a,
ul.top-nav-mobile li.jaw-menu-item-depth-3:last-child > a {
    padding-bottom: 0px;
}

ul.top-nav-mobile li ul {
    padding-left: 9px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
}

ul.top-nav-mobile li ul li ul {
    margin-bottom: 5px;
}

ul.top-nav-mobile li.jaw-menu-item-has-widgets ul {
    margin: 0px;
    padding: 0px 0px 10px 0px;
}

ul.top-nav-mobile li.jaw-menu-item-has-widgets > ul {
    padding-left: 15px;
}
ul.top-nav-mobile li ul.widget-sub-menu {
    margin-top: 15px;
}
ul.top-nav-mobile li ul.widget-sub-menu > li {
    margin-bottom: 15px;
}
ul.top-nav-mobile li ul.sub-menu {
    display: none;
}
ul.top-nav-mobile li.jaw-active-item ul.sub-menu {
    display: block;
}
ul.top-nav-mobile .sub-menu.widget-sub-menu h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}
ul.top-nav-mobile li.jaw-menu-item-depth-0 > a > .jaw-menu-icon {
    display: none;
    float: right;
    font-family: "jaw-icon";
    font-size: 8px;
    line-height: 24px;
    margin: -5px 0 0 4px;
    padding: 5px 20px;

}
ul.top-nav-mobile li.jaw-menu-item-depth-0.has-dropdown > a > .jaw-menu-icon {
    display: block;
}
ul.top-nav-mobile li.jaw-menu-item-depth-0.has-dropdown > a > .jaw-menu-icon:before {
    content: "\e60f";
}
ul.top-nav-mobile li.jaw-menu-item-depth-0.has-dropdown.jaw-active-item > a > .jaw-menu-icon:before {
    content: "\e608";
}

ul.top-nav-mobile li ul.product-categories li ul {
    padding-left: 30px
}
/* ************************************************************************** */


