/*WORDPRESS editor*/
.jaw-pb form{margin: 0;}

.composer-active .switch-revo {
    background-color: #F4F4F4;
    border-color: #CCCCCC #CCCCCC #F4F4F4;
    color: #555555;
}
#jaw_builder {
    border-color: #2f759f #CCCCCC #DFDFDF;
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width:8px 1px 1px 1px;
    background: #d3d3d3;
}
#content-composer {
    background: #2F759F;
    width: 100px;
    height: 20px;   
    border: none;
    z-index: 9999;
}
#content-composer span {
    background: url("./images/logo-revo-small.png") no-repeat scroll 5px 3px #2F759F;
    height: 19px;   
    width: 95px;
    display: block;
}
.wp-editor-tools{overflow: hidden;}
.wp-media-buttons{float:left;}


/* Controll bar  */
#jaw_builder .help-icon {
    float: right;
    margin-right: 15px;
    margin-top: 7px;
}
#jaw_builder .revo-live{background:  #ebebeb;  }
#jaw_builder .revo-bookmarks{background:  #ebebeb; padding-left: 13px; }

#jaw_builder .jaw-metabox-workspace .builder-element.ui-sortable-placeholder{background: transparent !important; visibility: visible !important; border: 1px dashed #777777;  margin: 0 18px 0 0; padding: 0; height: 58px; }

#jaw_builder h4{color: #FFFFFF;}

.section-builder_bookmark{
    float: left;
}
.builder_bookmark li{
    float: left;
    position: relative;
}
.builder_bookmark > ul{
    left: 0;
    position: absolute;
    width: 100%
}
.builder_bookmark .element_button{
    height: 15px;
    padding: 10px;
    background: #9f9f9f;
    color: #FFFFFF;
    margin-top: 7px;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
}
.builder_bookmark .element_button:hover{
    background: #7a7a7a;
}
.builder_bookmark .element_button.active{
    background: #454545;
}
#jaw_builder .section.jw_option .controls{
    float: none;
}
.section.jw_option.section-wp_editor .controls{
    width: 100%;
}
#jaw_builder span.element_icon {font-size: 27px;text-align: center; float: left;}

#jaw_builder .element_button {
    padding: 5px 10px;
    color: white;
    text-align: center;
}
#jaw_builder .elements_list{
    margin: 0;
    padding:  7px 0;
    display: table;

}
.element_text {
    line-height: 30px;
    float: right;
    padding: 0 7px;
}
#jaw_builder .elements_list li:hover .element_button {
    border-left: none;
    margin-left: 1px;
}
#jaw_builder .elements_list .element_button {
    border-left: 1px solid #EBEBEB;
    margin-left: 0;
    padding: 0 5px 0 7px;
    height: 28px;
}
.elements_list li{
    float: left;
    margin: 0; 
    padding: 13px 0;
    cursor: pointer;
    border-radius: 3px;
    width: auto;
}
.list-handle{
    width: 10px;
    height: 10px;
    float: left;
    cursor: pointer;
    padding: 24px 3px;
    padding-right: 7px;
    background: #EEEEEE;
    border-radius: 3px 0 0 3px;
    margin: 1px 0;
    margin-right: 3px;
}
.list-bullet{
    width: 10px;
    height: 14px;
    float: left;
    cursor: pointer;
    padding: 7px 3px;
    padding-right: 7px;
    background: #EEEEEE;
    border-radius: 0;
    margin: 1px 0;
}
.list-bullet-input{
    background: #EEEEEE;
}
.elements_list li:hover {
    background: none repeat scroll 0 0 #2F759F;
}
.elements_list li.build_layout:hover{
    background:transparent;
}
.elements_list li.build_presets:hover{
    background:transparent;
}
.elements_list li.build_element_presets:hover{
    background:transparent;
}
li.build_presets{padding: 0;}
li.build_element_presets{padding: 0;}
li.build_layout{padding: 0;}


#jaw_builder .section-ribbon-items{
    background: #454545;
    padding-left: 10px; 
}

#jaw_builder center{overflow: auto; -webkit-overflow-scrolling: touch; -ms-overflow-x: auto;}

#jaw_builder .jaw-pb-backgroud{
    width: 984px;
    background: url("./images/rastr-20-62.png") repeat scroll 0 0 transparent;
    padding-right: 20px;
}
.show-settings.element_button{float: right;}

/*element buttons*/
#jaw_builder .jw_option{border-bottom:none;}
#section-build_layout.section.jw_option .controls{width: auto; }


#jaw_builder .jaw-metabox-workspace .pb_element_name{margin: 0; z-index: 10; position: relative; text-transform: capitalize; float: left; padding: 5px 0; font-size: 12px; line-height: 13px;max-width: 70px;}
#jaw_builder .jaw-metabox-workspace .pb_element_change{position: relative; color: #454545; background: none repeat scroll 0 0 transparent;cursor: text;border: 0; z-index: 10;  font-size: 16px;padding: 5px;font-weight: bold;width: 180px;}
#jaw_builder .jaw-metabox-workspace .element_block .info.controls {clear: both; color: #454545; width: 100%;background: url("./images/grad-background-2.png") repeat-x scroll 0 0 transparent; cursor: move;padding: 0;}
#jaw_builder .jaw-metabox-workspace .element_block .info.controls i{font-size: 27px; float: left; padding: 5px;}


#jaw_builder .jaw-metabox-workspace .s_1 .pb_element_change{width: 60px;}
#jaw_builder .jaw-metabox-workspace .s_2 .pb_element_change{width: 80px;}
#jaw_builder .jaw-metabox-workspace .s_3 .pb_element_change{width: 120px;}

#jaw_builder .jaw-metabox-workspace .s_1 .pb_element_name {padding-left: 5px;}


.jaw-builder-description { background: rgb(115,115,115); position: absolute;min-width: 60px; padding: 5px;color:white; display: none; z-index: 99999999;}

.btn-group{position: relative;}


/* EDITOR ****************************************** */
.section-tinymce_editor .wp_themeSkin table.mceLayout{width: 100%;padding-right: 15px;}
.section-tinymce_editor .wp_themeSkin table.mceLayout > tbody > tr > td{width: 100%;}

/*live switcher*/

#section-revo_composer_live{
    float: right;
    margin-top: 8px;
}
#section-revo_composer_live .builder_live_switch{
    font-weight: bold;
    color: #3076a0;
    font-size: 14px;
    cursor: pointer;
}

#section-revo_composer_live .live_switcher{
    border: 1px solid #C2C2C2;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0 2px 5px #C2C2C2 inset;
    color: #999999;
    margin-left: 7px;
    float: right;
    display: table;
    content: "";
    margin-top: -2px;
}

#section-revo_composer_live .live_switcher:after {
    clear: both;
}
#section-revo_composer_live .live_button{
    border: 1px solid #C2C2C2;
    border-radius: 16px 16px 16px 16px;
    box-shadow: -2px 0 5px #C2C2C2 inset;
    margin-left: -1px;
    float: left;
    padding: 1px 3px;
}
#section-revo_composer_live .live_info{
    font-size: 12px;
    line-height: 20px;
    margin: 0 10px 0 4px;
}
#section-revo_composer_live .builder_live_switch.live .live_button{
    float: right;
}
#section-revo_composer_live .builder_live_switch.live .live_info{
    margin: 0 4px 0 10px;
}



/*width btns*/
#section-build_bookmark_home{width: 95px;}
#section-build_bookmark_media{width: 120px;}
#section-build_bookmark_content{width: 105px;}
#section-build_bookmark_featured{width: 85px;}
#section-build_bookmark_post_types{width: 95px;}
#section-build_carousel{width: 95px;}
#section-build_slider{width: 75px;}
#section-build_woo{width: 125px;}
#section-build_all{width: 50px;}
#section-build_layout_bookmark{width: 120px; }
#section-build_preset_bookmark{width: 90px;}
#section-build_element_preset_bookmark{width: 140px; margin-left: 26px;}

/*Layouts-buttons*/
.show-settings .button{background: none repeat scroll 0 0 #636363;color: #FFFFFF;float: right;margin-left: 5px;position: relative;text-shadow: none;top: 1px;border: 0;}
.show-settings .button:hover{background: none repeat scroll 0 0 #737373;color: #FFFFFF;}
.show-settings .button:active{text-shadow: none;}
#jaw_builder .section.jw_option .controls{width:auto; margin: 0 7px 0 0;}
.section.jw_option.section-builder_dropdown .controls {margin: 0;}
.pb-settings{ float:left;  margin:4px 4px 0;  position:relative}
.pb-settings label{ cursor:pointer;  display:block;  overflow:hidden; }
.pb-settings img{ border:3px solid #F4F4F4;    cursor:pointer;}
.pb-settings .custom_preset{ border:3px solid #F4F4F4;   cursor:pointer; width: 79px; height: 49px;background: url('../../../../admin/assets/images/none.png'); text-align: center;}
.pb-settings .custom_element_presets{ border:3px solid #F4F4F4;   cursor:pointer; width: 79px; height: 49px;background: url('../../../../admin/assets/images/none.png'); text-align: center;}
.pb-settings input{cursor:pointer; height:100% !important; left:0; line-height:15px; margin:1px; opacity:0; outline:0 none; padding:3px; position:absolute; top:-10px; vertical-align:text-bottom;  width:100% !important}
.pb-settings.layout_selected img{ border:3px solid #2F759F;}

/*Layouts*/
.jaw-pb-sidebar{min-height: 200px;}
.jaw-pb-sidebar .sidebar{min-height: 200px; overflow: hidden; background: none repeat scroll 0 0 #ffffff;box-shadow: 3px 3px 10px #A1A1A1; width: 100%; height: auto; border:3px solid #9F9F9F;}
#section-jaw-pb-sidebar_left1{float:left; height: 100%;  }
#section-jaw-pb-sidebar_right1{float:right; height: 100%; }
#section-jaw-pb-sidebar_left2{float:left; height:100%;}
#section-jaw-pb-sidebar_right2{float:right; height: 100%;  }
.builder_sidebar_content{margin-top: -20px;}

/*Presets*/
.custom_preset h5{margin: 3px;line-height: 12px;}
.custom_preset > span{font-size: 14px; padding: 5px;  color: #7A7A7A;position: absolute;bottom: -1px;}
.custom_preset > span:hover{color: #000000;}
.custom_preset > span.load-preset{left: 6px;}
.custom_preset > span.save-preset{left: 31px;}
.custom_preset > span.delete-preset{left: 55px;}

/*Presets*/
.custom_element_presets h5{margin: 3px;line-height: 12px;}
.custom_element_presets > span{font-size: 14px; padding: 5px;  color: #7A7A7A;position: absolute;bottom: -1px;}
.custom_element_presets > span:hover{color: #000000;}
.custom_element_presets > span.load-preset{left: 18px;}
.custom_element_presets > span.delete-preset{left: 45px;}

/*Elements*/
.jaw-pb { min-height: 70px; text-align: left; width: 984px;   padding-left: 20px; padding-top: 0.3%;}
#jaw_builder .jaw-metabox-workspace .builder-element{  cursor: all-scroll; border-radius: 2px; margin-bottom: 2px; }
#jaw_builder .jaw-metabox-workspace .builder-element .element{  width: 100%;  float: left;border: 3px solid #9f9f9f; border-radius: 3px; background: #ffffff;position: relative; }
#jaw_builder .jaw-metabox-workspace .builder-element .element:hover{box-shadow: 3px 3px 10px #A1A1A1;}
#jaw_builder .jaw-metabox-workspace .element_block {list-style: none;}
#jaw_builder .jaw-metabox-workspace .element_block .symbol_block{float: left; width: 100%; position: relative; z-index: 0;}
#jaw_builder .jaw-metabox-workspace{ padding-bottom: 20px;}


/*sizes*/
.s_1, .s_2, .s_3, .s_4, .s_5, .s_6, .s_7, .s_8, .s_9, .s_10, .s_11, .s_12{display: block;float: left;padding: 0  20px; margin-left: -20px; }
.s_0{width: 0; display: none;}
.s_1{width: 62px;}
.s_2{width: 144px;}
.s_3{width: 226px;}
.s_4{width: 308px;}
.s_5{width: 390px;}
.s_6{width: 472px;}
.s_7{width: 554px;}
.s_8{width: 636px;}
.s_9{width: 718px;}
.s_10{width: 800px;}
.s_11{width: 882px;}
.s_12{width: 960px;}


/*Edit buttons*/
#jaw_builder .jaw-pb .s_1 .tools {height: 84px;}
#jaw_builder .jaw-pb .s_1 .controls .text {display: none;}
#jaw_builder .jaw-pb .tools{height:21px; background: #2f759f; border-radius: 2px 2px 0 0;position: relative;z-index: 90; }
#jaw_builder .jaw-pb .s_2 .tools {    height: 64px;}
#jaw_builder .jaw-pb .controls {float:left; padding: 3px 2px 1px 5px; position: relative; z-index: 200; cursor: pointer; color: #FFFFFF; font-size: 13px;}
#jaw_builder .jaw-pb .live.control_btn{font-size: 15px;}
#jaw_builder .jaw-pb .edit.controls {float:right;}
#jaw_builder .jaw-pb .controls .control_btn {float:right;}
#jaw_builder .jaw-pb .controls div{width:16px; float: left; height: 16px; padding-left: 6px;}
#jaw_builder .jaw-pb .controls .text{width:25px; line-height: 14px;}
.jb-divider .controls.size {    visibility: hidden;}
.jb-divider .pb_element_change{display: none;}


.button-primary.builder {
    float: right;
    margin-left: 5px;
}
.button-primary.close:hover {
    background: -moz-linear-gradient(top, rgba(255,114,114,1) 0%, rgba(255,0,0,1) 100%);
    border-color: #FF0000;
    box-shadow: none;
}

.resize_sidebar_buttons .resize_sidebar{width: 20px; height: 20px;float: left;}

.jaw-builder-background.loading{position: absolute; display: block; background: rgba(20, 20, 20, 0.7)}
.jaw-builder-background.loading > p {font-size: 16px;}
.jaw-builder-background{position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999; text-align: center; color: #FFFFFF;font-size: 20px;line-height: 30px;}
.jaw-builder-background.loading .loader {
    position: relative;
    width: 40px;
    margin: auto;
}
.jaw-builder-background.loading .loader  .circle {
    position: absolute;
    width: 38px;
    height: 38px;
    opacity: 0;
    transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 5.5s;
}

.jaw-builder-background.loading .loader .circle:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #fff; /* Pick a color */
}

.jaw-builder-background.loading .loader .circle:nth-child(2) {  animation-delay: 240ms; }
.jaw-builder-background.loading .loader .circle:nth-child(3) {  animation-delay: 480ms; }
.jaw-builder-background.loading .loader .circle:nth-child(4) {  animation-delay: 720ms; }
.jaw-builder-background.loading .loader .circle:nth-child(5) {  animation-delay: 960ms; }


@keyframes orbit { 
    0%   { transform:rotate(225deg); opacity: 1;
           animation-timing-function: ease-out; } 

    7%   { transform:rotate(345deg);
           animation-timing-function: linear; }

    30%   { transform:rotate(455deg);
            animation-timing-function: ease-in-out; }

    39%   { transform:rotate(690deg);
            animation-timing-function: linear; }

    70%   { transform:rotate(815deg); opacity: 1;
            animation-timing-function: ease-out; }

    75%   { transform:rotate(945deg); 
            animation-timing-function: ease-out; }

    76% { transform:rotate(945deg); opacity: 0; }
    100% { transform:rotate(945deg); opacity: 0; } 
}





/*Alert window*/
.jaw-builder-allert-window{background: #FFFFFF;display: none;}


/* POPUP EDITOR********************/
#jaw-builder-popup {height: 100%; background: none repeat scroll 0 0 #FCFCFC; border: 2px solid; width: auto; overflow:hidden;}
#jaw-shortcode-editor-buttons{position: relative; width: 600px;float: left;}
#header_editor{background: none repeat scroll 0 0 #636363;color: #FFFFFF;height:25px;}
#header_editor span { font-size: 13px;    line-height: 23px;  padding: 7px;}
#editor_container{color: #565454;position: relative; height: 500px;overflow-y: auto; overflow-x: hidden; padding:0 10px 0 0; margin-top: 37px;}
.builder_editor { height: 600px; left: 500px;overflow: auto; position: fixed; top: 100px; width: 600px; z-index: 999;}


.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1001;background-color:#000000;}.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.in{opacity:0.8;filter:alpha(opacity=80);}
.modal{margin: 0 auto;height: auto;max-height: 80%; position:fixed;top:10%;left:10%;z-index:10518 !important;width:80%;overflow: hidden;background-color:#ffffff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;outline:none;}.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-25%;min-width: 600px;}
.modal.fade.in{top:10%;}
.modal-header{padding:9px 15px;border-bottom:1px solid #eee;}.modal-header .close{margin-top:2px;}
.modal-header h3{margin:0;line-height:30px;}
.modal-body{position:relative;overflow-y:auto;max-height:400px;padding:15px;}
.modal-form{margin-bottom:0;}
.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;*zoom:1;}.modal-footer:before,.modal-footer:after{display:table;content:"";line-height:0;}
.modal-footer:after{clear:both;}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0;}
.modal-footer .btn-group .btn+.btn{margin-left:-1px;}
.modal-footer .btn-block+.btn-block{margin-left:0;}


.select_wrapper select#icon option{
    font-family: 'jaw-icon';
}

/*Bokmarks*/
.editor_bookmarks {
    background: none repeat scroll 0 0 #EBEBEB;
    color: #FFFFFF;
    height: 30px;
    width: 100%;
    position: absolute;
    border-bottom: 7px solid #454545;
}
#editor_container .content{
    position: relative;
    left: 13px;
    float: left;
    top: 7px;
    width: 100%
}

.editor_bookmarks li {
    background: none repeat scroll 0 0 #9F9F9F;
    padding: 5px 10px 3px 10px;
    cursor: pointer;
    display: inline;
    border-radius: 3px 3px 0 0 ;
    margin-right: 7px;
}
.editor_bookmarks li.active {
    background: none repeat scroll 0 0 #454545;
    color: #ffffff;
}
.editor_bookmarks li:hover {
    background: #7A7A7A;
    color: #ffffff;
}
.editor_bookmarks > ul{
    margin: 11px 0 0 13px;
}

/*LIVE PREVIEW*/
.builder_element_content {
    float: left;
    margin-bottom: -62px;
    position: relative;
    top: -58px;
    width: 100%;
}
.builder_element_content > iframe {
    margin-top: 0;
    overflow: hidden;
    width: 100%;
}




/*LIVE PREVIEW*/
#jaw_builder .jaw-metabox-workspace .live .element_block{box-shadow: none; position: relative}
#jaw_builder .jaw-metabox-workspace .live .element_block:hover{ box-shadow: 3px 3px 10px #A1A1A1;}
#jaw_builder .jaw-metabox-workspace .live .element_block .controls{ visibility: hidden;}
#jaw_builder .jaw-metabox-workspace .live .element_block:hover .controls{ visibility: visible;}
#jaw_builder .jaw-metabox-workspace .live .element_block .tools{ visibility: hidden;}
#jaw_builder .jaw-metabox-workspace .live .element_block:hover .tools{ visibility: visible;}
#jaw_builder .jaw-metabox-workspace .live .pb_element_name{height: 28px; overflow: hidden;}
#jaw_builder .jaw-metabox-workspace .element_block .zaves, #jaw_builder .jaw-pb-sidebar .sidebar .zaves {
    position: absolute;
    width: 100%;
    z-index: 9;
    display: none;
}
#jaw_builder .jaw-metabox-workspace .live .element_block .zaves, #jaw_builder .jaw-pb-sidebar .sidebar .zaves {
    display: block;
}

#jaw_builder .jaw-metabox-workspace .live .builder-element .element{
    border: none;
}



/*tinymce*/
.sub .section.jw_option.section-tinymce_editor .controls{width:100%;}
.sub .section.jw_option.section-tinymce_editor textarea{width:100%;}
.tinymce-tabs {
    height: 30px;
    padding-right: 30px;
}
.tinymce-tabs .html, .tinymce-tabs .visual {
    background-color: #f1f1f1;
    border-color: #dfdfdf #dfdfdf #dfdfdf;
    color: #999999;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    float: right;
    height: 18px;
    margin: 5px 5px -2px 0px;
    padding: 4px 5px 2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
}
.tinymce-tabs .active {
    background-color: #e9e9e9;
    border-color: #cccccc #cccccc #e9e9e9;
    color: #333333;

}
#TB_window {z-index:100051 !important;}




/*BUGREPORT*/
h4.button.build_bug{background: #9B3F3F;}
h4.button.build_bug:hover{background: #FF0C0C;}



@media (max-width:1024px) {
    #jaw_builder  .jaw-pb .tools{height: 32px;}
    #jaw_builder  .jaw-pb .controls{font-size: 20px;padding: 5px;}
    #jaw_builder  .jaw-pb .controls div{width: 30px;height: 22px;}
    #jaw_builder .jaw-pb .s_3 .edit.controls{margin-left: -20px}
    #jaw_builder .jaw-pb .s_2 .edit.controls{float: left;}
    #jaw_builder .jaw-pb .tools{height: 64px;}
    #jaw_builder .jaw-pb .controls .text{width:45px; line-height: 18px;}
}
@media (max-width:1660px) {
    #jaw_builder .element_button{border-radius: 3px;margin: 5px 0; cursor: pointer;}
    #section-build_layout_bookmark{float:right; }
    #section-build_preset_bookmark{float:right; margin-left: 0;}
}


