.jw_option .chzn-container-multi .chzn-choices .search-field.radio-layout {
    float: left;
    margin: 4px 4px 0px 4px;
    position: relative;

}
.radio-layout label {
    cursor: pointer;
    display: block;
    overflow: hidden;
}
.radio-layout .of-radio-img-selected {
    padding:2px;
    margin: 0 3px 7px 0;
}

.radio-layout.of-radio-img-selected img{	
    border: 3px solid #BC2C1C;
}



.radio-layout img {border: 3px solid #F4F4F4; cursor: pointer;border-radius:3px}

.radio-layout input {
    /*width:100%!important;
    height:100%!important;*/
    left: 0;
    opacity: 0;
    position: absolute;
    top: -10px;
    vertical-align: text-bottom;
    margin: 1px;
    padding: 3px;
    outline: 0 none;
    line-height: 15px;
    cursor: pointer;
}

/*-----------------------------------------------------------------------------------
/* Admin styles
/*-----------------------------------------------------------------------------------*/ 


#cover_load{
    background-color: #666666;
    z-index: 99999;
    opacity: 0.5;
    position: absolute;
    top:0px;
    left:0px;
    text-align: center;    
    height: 100%;
}

#cover_load_text{
    opacity: 1 !important;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 50px;
    margin: 20% auto;
    width: 500px;
}

#cover_load_text .progress_bar {
    background: none repeat scroll 0 0 #0AC227;
    height: 10px;
    width: 0px;
}

#of_container {color:#565454}
.updated, .error {
    /* display:none!important*/
} /* disable the admin notices */
#of_container {
    width: 785px;
    position:relative;
    z-index: 0
}

.adminoption {margin: 15px 15px 15px 5px;}
#sidebar_name {margin-right:16px;margin-top: 6px;}
#of_container #header {
    height: 70px;
    background:#f1f1f1;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    background: -ms-linear-gradient(top,#f9f9f9,#ececec);
    background: -moz-linear-gradient(top,#f9f9f9,#ececec);
    background: -o-linear-gradient(top,#f9f9f9,#ececec);
    background: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
    background: -webkit-linear-gradient(top,#f9f9f9,#ececec);
    background: linear-gradient(top,#f9f9f9,#ececec);
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}
#of_container #header .logo {
    float: left;
    margin:10px 20px;
}
#of_container #js-warning {
    color: red;
    float: left;
    margin: 20px 10px;
    width: 330px;
}
#of_container ul,#of_container ol {margin: 0;}
.js #of_container #js-warning {
    display: none;
}

#of_container #header .logo h2 {
    display:inline-block;
    font-style:normal;
    padding-right:5px;
}
#of_container #header .logo span {
    color:#888888;
}
#of_container #header .icon-option {
    float: right;
    height: 32px;
    width: 32px;
    background: url(../images/icon_option.png) no-repeat;
    margin:20px 30px 0;
}

#of_container #info_bar {
    background: #f3f3f3;
    border:solid #d8d8d8;
    border-bottom:1px solid #D8D8D8;
    border-width:0px 1px 1px 1px;
    padding: 6px 20px 0px 6px;
    height: 31px;
    text-align: right;
    -moz-box-shadow: inset 0 1px 0 #fcfcfc;
    -webkit-box-shadow: inset 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px 0 #fcfcfc;
}

#of_container #expand_options{
    cursor: pointer;
    display: block;
    height: 22px;
    width: 21px;
    float: left;
    font-size:0px;
    text-indent: -9999px;
    margin: 0 0 0 10px;
    border: 1px solid #bbb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#of_container  #info_bar .expand { background: url(../images/toggle_tabs.png) no-repeat -2px -1px; }
#of_container #info_bar .close { background: url(../images/toggle_tabs.png) no-repeat -2px -26px; }
#of_container #expand_options:hover {
    cursor: pointer;
    border-color: #888;
}
#of_container #main {
    background-color: #f1f1f1;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;     
}
#of_container #of-nav {
    float: left;
    position: relative;
    z-index: 9999;
    width: 180px;
    border-right: 1px solid #D8D8D8;
}
#of_container #of-nav ul {
    margin:0;
}
#of_container #of-nav li {
    margin-bottom:0;
    -moz-box-shadow: inset 0 1px 0 #f9f9f9;
    -webkit-box-shadow: inset 0 1px 0 #f9f9f9;
    box-shadow: inset 0 1px 0 #f9f9f9;
    margin-right: 1px;

}



#of_container #of-nav li:last-child {
    -moz-box-shadow: inset 0 1px 0 #f9f9f9, 0 1px 0 #f9f9f9;
    -webkit-box-shadow: inset 0 1px 0 #f9f9f9, 0 1px 0 #f9f9f9;
    box-shadow: inset 0 1px 0 #f9f9f9, 0 1px 0 #f9f9f9;
}

#of_container #of-nav li.current {
    margin-right: 0;

}

#of_container #of-nav li a, #of_container #of-nav ul li a:link, #of-nav ul li a:visited {
    display: block;
    padding: 10px 10px 10px 25px;
    background-repeat: no-repeat;
    background-position: 13px 10px;
    font-weight:none;
    font-size: 12px;
    text-decoration: none;
    font-family: inherit ;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9f9f9 0%,#ececec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
    color: #000;
    opacity: 0.5;
    text-shadow: 0px 0px 5px #AAAAAA;
}
#of_container #of-nav ul li a.current {
    background: #2D9CCE;
    background:  -moz-linear-gradient(center top , #2D9CCE, #278AB6);
    background:  -webkit-linear-gradient(center top , #2D9CCE, #278AB6);    
    color: #FFFFFF;
    text-shadow: 1px 1px 5px #333333;
    opacity: 0.8;
}
#of_container #of-nav ul li a.current:hover {
    color: #FFFFFF;
    text-shadow: 1px 1px 5px #000000;
    opacity: 0.9;


}

#of_container #of-nav ul li a:hover {
    color: #237EA6;/*#d54e21;*/
    text-shadow: 0px 0px 5px #CCCCCC;
    opacity: 1;
}

#main #content,.jw_option .section {
    float: left;
    min-height: 500px;
    width: 573px !important;
    margin-left: -1px;
    padding: 0 14px;
    font-family: "Lucida Grande", Sans-serif;
    background-color: #FCFCFC;
    border-left: 1px solid #d8d8d8;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.sub_all .sub {
    padding: 0 14px 20px 14px;
    background-color: #FCFCFC;
}


#of_container #content .section,.jw_option .section {
    margin-bottom: 10px;
    overflow-x : none;



} /* jaw*/
.jw_option.section-advselect  {overflow-x :none!important;} 



.jw_option.section h4.heading {margin:0px 0 5px 0}

.jw_option.section h3.heading {

    margin: 10px 0 10px 0;
    padding: 7px 0px;
    border-bottom: 1px solid #e7e7e7;
}
.section.jw_option .controls {
    float: left;
    width: 445px;
    margin: 0 15px 0 0;
}
.adminoption .section.sub .section.jw_option .controls {
    width: 285px;
}
.adminoption .section.sub .section.jw_option .controls input {
    max-width: 285px;
}
.adminoption .section.sub .jw_option .select_wrapper{width: 285px;}
.section.sub .jw_option .chosen-container.chosen-container-multi .chosen-choices{
    max-width: 285px;
}


.adminoption .section.jw_option .controls {
    width: 300px;
}
.chosen-container{
    width: 100% !important;
}
.sub .section.jw_option .controls {max-width: 100%;}


.section.jw_option .controls.control_fw {
    float: left;
    width: 575px;
    margin: 0 15px 0 0;

}

.section.jw_option .controls.control_fw .demoimport_image{
    float: left;
    width: 345px;
    line-height: 100px;
}


.section.jw_option .controls.control_fw .demoimport_desc{
    color: #999999;
    float: left;
    font-size: 11px;
    max-width: 205px;
    min-width: 100px;
    padding: 0 10px 0 0;
}
.jw_option.section-range .slider .unit{padding-top: 5px;padding-left: 3px; float: left;}

.postbox .section.jw_option .controls{width: auto;}
.postbox .section.jw_option {border-bottom: 1px solid #DDDDDD;margin: 0 -10px 10px;
                             padding: 0 15px 15px;}
.postbox .section.jw_option {padding:15px;}

.jw_option .explain {
    float: left;
    max-width: 205px;
    min-width: 100px; 
    padding: 0 10px 0 0;
    font-size: 11px;
    color: #999999;
}

.sub .jw_option .explain {max-width: 190px}

.section-checkbox .controls {width:25px}
.jw_option.section-multicheck .controls input.checkbox {margin-top:9px;}
.jw_option.section-checkbox .explain {max-width:93%;}
.jw_option.section-color .controls {width:445px}
.editor_container .jw_option.section-color .controls {width:447px}
.jw_option.section-color .explain {width:440px}
.jw_option.section-color .input-append.color {position: relative;}

.jw_option.section-info h3.heading {display:none;}
.jw_option.section-info .controls {
    margin: 20px 0 0;
    float:none;
    width: auto;
}
.jw_option.section-info .controls .of-info{
    padding: 15px 10px;
    line-height: 1.5em;
    font-size: 12px;
    background-color: #EFF9FF;
    border: 1px solid #D6F0FF;
    color:#777;
}
.jw_option.section-info .controls .of-info.warnings{
    background-color: #F9E5E5;
    border: 1px solid #F7B7B7;

} 
.jw_option.section-info .controls .of-info.description{
    background-color: #FEFEFE;
    border: 1px solid #eeeeee;
}
.jw_option.section-info .controls .of-info ._icon { 
    height:16px; width:16px;
    margin: 0 10px 0 0;
    float: left;
}
.jw_option.section-info .controls small {
    font-size: 12px
}
.jw_option.section-info h3.heading {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.jw_option.section-info .controls {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.jw_option .sorter {margin-right: -20px;}
.jw_option .sorter ul {
    background: #F9F9F9;
    border: 1px dashed #E3E3E3;
    min-height: 40px;
    padding: 10px 10px 0;
    width: 145px;
    float: left;
    margin: 0 15px 0 0;
}
.jw_option  .sorter ul h3 {
    margin: 0 0 10px;
    text-align: center;
    color: #777;
    text-transform: capitalize;
}
.jw_option  .sorter ul li {
    border: 1px solid #DFDFDF;
    cursor: move;
    font-weight: bold;
    margin-bottom:10px;
    padding:0 10px;
    height: 40px;
    line-height: 40px;
    background-color: #F1F1F1;
    background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
    background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
    background-image: linear-gradient(top,#f9f9f9,#ececec);
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    text-align:center;
}


.jw_option.section-sorter li.placeholder {
    background:#f9f9f9;
    border-width:1px;
    border-style:dashed;
    height:40px;}

.jw_option.section-slider li.placeholder {
    background:#f9f9f9;
    border-width:1px;
    border-style:dashed;
    height:33px;}


.jw_option.section-sidebars .sidebar {width:210px!important;}
.jw_option.section-sidebars #sidebar_name {width:160px;}
.jw_option.sidebras_list {margin-top:20px}


.jw_option textarea, .jw_option input, .jw_option select, .jw_option  button, #of_container button{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style:solid;
    border-width:1px;
    line-height:  10px;
}
.jw_option input, .jw_option select, .jw_option textarea {
    margin-bottom: 9px !important;
    background-color: #f9f9f9;
    border: 1px solid;
    border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
    width: 300px;
    padding: 4px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 15px;
}
.jw_option input:hover, .jw_option textarea:hover {
    background-color: #f9f9f9;
}

.jw_option input:focus, .jw_option textarea:focus { 
    background-color: #fff;
    border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
    outline:0;
}

.jw_option .upload {
    width: 260px;
}


.jw_option select {
    height: 28px;
    padding: 4px 5px;
    width: 300px
}


.jw_option .selectmeasurment{width:50px}
.jw_option textarea {
    width: 100%;
}

.jw_option input[type=text] {width: 300px;}
.jw_option input.checkbox {width: 30px;margin-top:3px;}
.jw_option input.of-radio {width: 30px;}
label.radio, label.multicheck {
    position: relative;
    top: 5px;
}
.jw_option .input-text-small {
    width: 60px;
    margin-right:10px
}
#of_container .meta-two {
    margin-right:10px
}
.controls .of-color {
    float:left;
    width: 70px!important;
    margin-left:5px; /* font-size:20px; height:34px;*/
}
.jw_option.section-typography .controls {
    width:440px
}
.jw_option.section-typography .explain {
    width:205px
}
.jw_option .of-typography-size {
    width:70px;
    float:left
}
.jw_option .of-typography-unit {
    width:60px;
    float:left
}
.jw_option .of-typography-face {
    width:145px;
    float:left
}
.jw_option input.of-typography-face {
    width:145px;
    float:left
}
.jw_option .of-typography-style {
    width:95px;
    float:left
}
.jw_option .of-radio-img-img {
    border:3px solid #fff;
    margin:0 5px 10px 0;
    display:none;
    cursor:pointer;
    float:left;
}






.jw_option .of-radio-img-img:hover {
    opacity:.8;
}
.overflow > span{
    float: left;
}
.jw_option.section-tiles .overflow{
    height: 200px;
    overflow: auto;
    position: relative;
    width: 100% !important;
}
.jw_option .of-radio-tile-img.item_selected{
    border: 3px solid #BC2C1C;
}
.jw_option .of-radio-tile-img {
    border: 3px solid #F9F9F9;
    cursor: pointer;
    float: left;
    font-size: 28px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px 10px 0;
    text-align: center;
    width: 40px;
}
.jw_option .of-radio-tile-selected {
    border:3px solid #BC2C1C
}
.jw_option .of-radio-tile-img:hover {
    opacity:.8;
}

.jw_option .of-border-width {
    width:70px;
    float:left
}
.jw_option .of-border-style {
    width:95px;
    float:left
}
#of_container .group {
    display:none;
    padding-bottom:20px;
}
#of_container .group h2 {
    display:none;
    border-bottom:3px solid #e7e7e7
}

#of_container .sub_all{
    background-color:#FEFEFE;
    padding-left: 15px;
    border-top: 1px solid #EDE5E5;
    border-bottom: 1px solid #EDE5E5;
}

#of_container .sub{
    background-color:#FDFDFD;
    margin-left: 30px;
}
#of_container .sub h3{
    font-size: 10pt;
}



.jw_option input:focus, .jw_option select:focus, .jw_option textarea:focus {
    background:#fff;
}

#of_container .accept {
    background: #DBF6BE no-repeat 10px center;
    border: solid #9BBF65;
    border-width: 0px 1px 1px 1px;
    color: #060;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
#of_container .warning {
    background: #ffeeee no-repeat 10px center;
    ;
    border: solid #dfbfbf;
    border-width: 0px 1px 1px 1px;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
#of_container .update_available {
    background: #FFFEEB no-repeat 10px center;
    border: solid #CCCCCC;
    border-width: 0px 1px 1px 1px;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
#of_container .of-save-popup {
    position:absolute;
    background:rgba(0, 0, 0, 0.5);
    color:#fff;
    font-size:24px;
    text-align:center;
    display:none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#of_container .of-save-popup div{
    background-repeat: no-repeat;
    background-position: 20px 50%;
    padding:30px 30px 30px 60px;
}
#of_container .of-save-save {
    background-image: url(../images/button_check.png);
}
#of_container .of-save-reset {
    background-image: url(../images/sign_warning.png);
}
#of_container .of-save-fail {
    background-image:url(../images/stop.png);
}
#of-popup-fail,#of-popup-reset,#of-popup-save  {z-index:100000}
#of-popup-fail .save_message {font-size:12px; padding:10px 0px 0px!important};

#of_container .accept,
#of_container .warning,
#of_container .update_available,
#of_container .of-save-popup {
    z-index: 9999;
}

.jw_option .upload_button_div {
    margin-top:7px;
    margin-bottom: 15px;
}

#of_container .button ,.jw_option .button {
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-color: #dfdfdf;
    background-color: #fff;
    margin:4px 0 4px;
}


#of_container .button:hover,
.jw_option .button:hover,
.jw_option .button_hover,
#of_container .button_hover {
    border-color: #bbb;
    color: #464646;
}

#of_container .button_active,.jw_option .button_active {
    background:#eee url(../../images/white-grad-active.png) repeat-x scroll left top;
}

.jw_option .upload_button_div .button {
    /*padding:4px 7px;*/
}
.jw_option .image_reset_button, .jw_option .mlu_remove_button {
    margin-left:10px;
    color:#ef521d;
}

.jw_option .image_reset_button:hover, .jw_option .mlu_remove_button:hover {
    color:red;
}

.jw_option .upload-error {
    float:left;
    color:#666;
    font-size:10px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:1px 1px 0 #FFFFFF;
    margin: 0 10px 0 0;
    padding:3px 10px;
    background:#FFDFEC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#of_container .reset-button {
    font-family:Arial,Verdana,sans-serif;
    float:left;
    padding: 0 7px;
    height: 23px;
    line-height: 14px;
    margin:0 ;
    color: #ef521d;
    border-color: #bbb;
}

#of_container a.help-button {color: #333333; line-height: 23px;  margin-left: 15px;}

#of_container a.help-button:hover {border-color: #888; color: #333333; line-height: 20px;}

#of_container .reset-button:hover { color: #ef521d; border-color: #888; line-height: 10px;}


.jw_option .slide_add_button { float:right; margin-top:10px; }


#of_container .save_bar {
    background: #f3f3f3;
    border:solid #ccc;
    border-width:0px 1px 1px 1px;
    padding: 10px 20px 0px 20px;
    height: 35px;
    text-align: right;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

#of_save {
    font-family: Arial,Verdana,sans-serif;
    padding: 0 7px;
    height: 23px;
    line-height: 23px;
    border:1px solid #0a6d9b !important;
    float:right;
}

#of_save:hover {
    border:1px solid #111 !important;
}

#of_container .hide,.controls .hide {
    display:none
}
#of_container .ajax-loading-img-top {
    margin: 5px 4px 0;
    float:left
}
#of_container .ajax-loading-img-bottom {
    margin: 5px 4px 0;
}
#of_containers .ajax-reset-loading-img {
    display: block;
    margin-left: 100px;
}

.jw_option .screenshot { 
    max-width:300px;
    margin-bottom:9px;
}

.jw_option .of-uploaded-image {

}

.jw_option .of-option-image {
    max-width:250px;
    padding: 5px;
    border:1px solid #e3e3e3;
    background:#f7f7f7;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.jw_option .select_wrapper {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 12px;
    background: #F9F9F9 url(../images/select.png) no-repeat right center;
    border-color: #CCC #E6E6E6 #E6E6E6 #CCC;;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 26px;
    width: 344px;
    margin: 0;
    margin-bottom: 9px !important;
    width: 300px;
    display: block;
    color: #888;
    position:relative;
}

.jw_option .typography-face {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 12px;
    background: #F9F9F9 ;
    border-color: #CCC #E6E6E6 #E6E6E6 #CCC;;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 26px;
    width: 344px;
    margin: 0;
    margin-bottom: 9px !important;
    width: 300px;
    display: block;
    color: #888;
    position:relative;
}

/* MOD WIDTH*/
.jw_option .big {width:280px!important}
.jw_option .large {width:250px!important}
.jw_option .medium {width:180px!important}
.jw_option .small {width:100px!important}
.jw_option .mini {width:70px!important}
.jw_option .micro {width:40px!important}


.jw_option .select_wrapper:hover {background-color:#f9f9f9;}

#of_container .mini .controls select, #of_container #content .section .mini .controls, #of_container  .controls .typography-size, #of_container  .controls .border-width,#of_container  .controls .mini,#of_container .mini .controls input, #of_container #content .mini .controls {width: 70px;}
#of_container  .controls .typography-face {width: 145px;}
#of_container  .controls .typography-style, #of_container  .controls .border-style {width: 95px;}
#of_container  .controls .typography-size,#of_container  .controls .typography-face,#of_container  .controls .typography-style, #of_container  .controls .border-width, #of_container  .controls .border-style {margin-right:5px;}

#of_container #content .mini .explain {
    width:500px;
}
#of_container .of-notice {
    background: #ffd1d1;
    border:1px solid #DFDFDF;
    -moz-border-radius:8px;
    text-align: center;
    margin-bottom: 15px
}
/*TABS */
.slider li {
    width: 345px;
    border: 1px solid #dfdfdf;
    background:#f9f9f9;
    overflow:hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.slide_header {
    cursor:move;
    height:32px;
    padding-left:10px;
    padding-right:20px;
    line-height:32px;
    background-color: #F1F1F1;
    margin: 1px 0 -1px 0;
    border-bottom: 1px solid #dfdfdf;
    background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
    background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
    background-image: linear-gradient(top,#f9f9f9,#ececec);
    overflow:hidden;
    position: relative;
}

.sidebar_header {
    height:32px;
    padding-left:10px;
    padding-right:10px;
    width:280px;
    line-height:32px;
    background-color: #F1F1F1;
    margin: 1px 0 -1px 0;
    border-bottom: 1px solid #dfdfdf;
    background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
    background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
    background-image: linear-gradient(top,#f9f9f9,#ececec);
    overflow:hidden;
    position: relative;
}

.slide_body {
    display:none;
    padding:10px 10px 10px 11px;
}


.slider li input,.slider li textarea,.slider li .screenshot,.slider li .of-option-image {
    width:311px;
}

a.slide_edit_button, a.slide_delete_button, a.sidebar_delete_button {
    text-indent:-9999px;
    font-size:0;
}
a.slide_edit_button {
    position: absolute;
    right: 0;
    top: 0;
    width:32px;
    height:32px;
    background: url(../images/dropdown-arrow.png) no-repeat 9px -28px;
}
a:hover.slide_edit_button {
    background: url(../images/dropdown-arrow.png) no-repeat 9px 11px;}

a.slide_delete_button,a.sidebar_delete_button { 
    float: right;
    margin: 0 0 0 7px;
    width:16px;
    height:16px;
    background: url(../images/icon-delete.png) no-repeat
}
a.sidebar_delete_button{
    margin: 7px 0 0 7px; 

}
.select_wrapper span {
    height: 26px;
    line-height: 26px;
    z-index: 2;
    padding-left: 6px;
    position:absolute;
    left:0;
}

.select_wrapper .select {
    cursor: pointer;
    height: 28px;
    margin: 0;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    padding: 0;
    position: relative;
    width: inherit;
    z-index: 4;	
}

#eg-wrap .select_fake{
   height: 30px; 
   display: inline-block;
   float: left;
   position: absolute;
}

/*BACKUP*/
#of_backup textarea {
    margin-bottom: 9px !important;
    background-color: #F1F1F1;
    border: 1px solid;
    width: 100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 12px;
    border-color: #CCC #E6E6E6 #E6E6E6 #CCC;
}

#of_container #content .section-backup .controls { width: 80%}
#of_container #content .section-backup .explain {
    display:none
}
#of_container #content .section-backup .backup-box {
    margin: 0 0 20px;
}

#of_container #content .section-backup .instructions {
    margin: 0 0 10px;
    color: #777;
}
#of_container #content .section-backup .button, #of_container #content .section-transfer .button {
    margin: 0 25px 5px 0;
}

.temphide {display:none;}
/*-------------------------------------------------------------------------------------------*/
/* GENERAL STYLES */
/*-------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


/*-------------------------------------------------------------------------------------------*/
/* Tipsy
/*-------------------------------------------------------------------------------------------*/
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

/* @group Single Chosen */
.jw_option .chzn-container {position:relative}
.jw_option .chzn-container-single .chzn-single {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius   : 4px;
    border-radius        : 4px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    border: 1px solid #aaa;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 26px;
    line-height: 26px;
    padding: 0 0 0 8px;
    color: #444;
    text-decoration: none;
}
.jw_option .chzn-container-single .chzn-single span {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.jw_option .chzn-container-single .chzn-single abbr {
    display: block;
    position: absolute;
    right: 26px;
    top: 8px;
    width: 12px;
    height: 13px;
    font-size: 1px;
    background: url(chosen-sprite.png) right top no-repeat;
}
.jw_option .chzn-container-single .chzn-single abbr:hover {
    background-position: right -11px;
}
.jw_option .chzn-container-single .chzn-single div {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius   : 0 4px 4px 0;
    border-radius        : 0 4px 4px 0;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
    background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%);
    border-left: 1px solid #aaa;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 18px;
}
.jw_option .chzn-container-single .chzn-single div b {
    background: url('../images/chosen-sprite.png') no-repeat 0 1px;
    display: block;
    width: 100%;
    height: 100%;
}
.jw_option .chzn-container-single .chzn-search {
    padding: 3px 4px;
    position: relative;
    margin: 0;
    white-space: nowrap;
    z-index: 1010;
}
.jw_option .chzn-container-single .chzn-search input {
    background: #fff url('../images/chosen-sprite.png') no-repeat 100% -22px;
    background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    background: url('../images/chosen-sprite.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    outline: 0;
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 1em;
}
.jw_option .chzn-drop {display:none;}
.jw_option .chzn-drop .active-result em {background-color: yellow}
.jw_option .chzn-container-single .chzn-drop {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius   : 0 0 4px 4px;
    border-radius        : 0 0 4px 4px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    display: none;
}
/* @end */

.jw_option .chzn-container-single-nosearch .chzn-search input {
    position: absolute;
    left: -9000px;
}

/* @group Multi Chosen */
.jw_option .chzn-container-multi .chzn-choices {

    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background-image: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background-image: -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background-image: -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    border: 1px solid #aaa;
    margin: 0;
    padding: 2px;
    cursor: text;
    overflow: hidden;
    height: auto !important;
    height: 1%;
    position: relative;
}
.jw_option .chzn-container-multi .chzn-choices li {
    float: left;
    list-style: none;
}
.jw_option .chzn-container-multi .chzn-choices .search-field {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
    height:25px;
}
.jw_option .chzn-container-multi .chzn-choices .search-field input {
    color: #666;
    background: transparent !important;
    border: 0 !important;
    padding: 5px;
    margin: 1px 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow   : none;
    -o-box-shadow     : none;
    box-shadow        : none;
}
.jw_option .chzn-container-multi .chzn-choices .search-field .default {
    color: #999;
}
.jw_option .chzn-container-multi .chzn-choices .search-choice {
    -webkit-border-radius: 3px;
    -moz-border-radius   : 3px;
    border-radius        : 3px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e4e4e4), color-stop(0.7, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
    background-image: -moz-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
    background-image: -o-linear-gradient(bottom, #e4e4e4 0%, #eeeeee 70%);
    background-image: -ms-linear-gradient(top, #e4e4e4 0%,#eeeeee 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #e4e4e4 0%,#eeeeee 70%);
    color: #333;
    border: 1px solid #b4b4b4;
    line-height: 13px;
    padding: 3px 19px 3px 6px;
    margin: 3px 0 3px 5px;
    position: relative;
}
.jw_option .chzn-container-multi .chzn-choices .search-choice span {
    cursor: default;
}
.jw_option .chzn-container-multi .chzn-choices .search-choice-focus {
    background: #d4d4d4;
}
.jw_option .chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    display: block;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
    height: 13px;
    font-size: 1px;
    background: url(../images/chosen-sprite.png) right top no-repeat;
}
.jw_option .chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
    background-position: right -11px;
}
.jw_option .chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
    background-position: right -11px;
}
/* @end */

/* @group Results */
.jw_option .chzn-container .chzn-results {
    margin: 0 4px 4px 0;
    max-height: 190px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.jw_option .chzn-container-multi .chzn-results {
    margin: -1px 0 0;
    padding: 0;
}
.jw_option .chzn-container .chzn-results li {
    display: none;
    line-height: 80%;
    padding: 7px 7px 8px;
    margin: 0;
    list-style: none;
}
.jw_option .chzn-container .chzn-results .active-result {
    cursor: pointer;
    display: list-item;
}
.jw_option .chzn-container .chzn-results .highlighted {
    background: #3875d7;
    color: #fff;
}
.jw_option .chzn-container .chzn-results li em {
    background: #feffde;
    font-style: normal;
}
.jw_option .chzn-container .chzn-results .highlighted em {
    background: transparent;
}
.jw_option .chzn-container .chzn-results .no-results {
    background: #f4f4f4;
    display: list-item;
}
.jw_option .chzn-container .chzn-results .group-result {
    cursor: default;
    color: #999;
    font-weight: bold;
}
.jw_option .chzn-container .chzn-results .group-option {
    padding-left: 20px;
}
.jw_option .chzn-container-multi .chzn-drop .result-selected {
    display: none;
}
/* @end */

.jw_option .chzn-container .chzn-drop {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #AAAAAA #AAAAAA;
    border-image: none;
    border-right: 1px solid #AAAAAA;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    left: 0;
    position: absolute;
    top: 29px;
    z-index: 999;
}

/* @group Active  */
.jw_option .chzn-container-active .chzn-single {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
    border: 1px solid #5897fb;
}
.jw_option .chzn-container-active .chzn-single-with-drop {
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow   : 0 1px 0 #fff inset;
    -o-box-shadow     : 0 1px 0 #fff inset;
    box-shadow        : 0 1px 0 #fff inset;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
    background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
    -webkit-border-bottom-left-radius : 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft : 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
}
.jw_option .chzn-container-active .chzn-single-with-drop div {
    background: transparent;
    border-left: none;
}
.jw_option .chzn-container-active .chzn-single-with-drop div b {
    background-position: -18px 1px;
}
.jw_option .chzn-container-active .chzn-choices {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
    border: 1px solid #5897fb;
}
.jw_option .chzn-container-active .chzn-choices .search-field input {
    color: #111 !important;
    width: 300px !important;
}
/* @end */

/* @group Disabled Support */
.jw_option .chzn-disabled {
    cursor: default;
    opacity:0.5 !important;
}
.jw_option .chzn-disabled .chzn-single {
    cursor: default;
}
.jw_option .chzn-disabled .chzn-choices .search-choice .search-choice-close {
    cursor: default;
}

/* @group Right to Left */
.jw_option .chzn-rtl { direction:rtl;text-align: right; }
.jw_option .chzn-rtl .chzn-single { padding-left: 0; padding-right: 8px; }
.jw_option .chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0; }
.jw_option .chzn-rtl .chzn-single div { 
    left: 0; right: auto; 
    border-left: none; border-right: 1px solid #aaaaaa;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius   : 4px 0 0 4px;
    border-radius        : 4px 0 0 4px; 
}
.jw_option .chzn-rtl .chzn-single abbr {
    left: 26px;
    right: auto;
}
.jw_option .chzn-rtl .chzn-choices li { float: right; }
.jw_option .chzn-rtl .chzn-choices .search-choice { padding: 3px 6px 3px 19px; margin: 3px 5px 3px 0; }
.jw_option .chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 5px; right: auto; background-position: right top;}
.jw_option .chzn-rtl.chzn-container-single .chzn-results { margin-left: 4px; margin-right: 0; padding-left: 0; padding-right: 4px; }
.jw_option .chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 20px; }
.jw_option .chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none; }
.jw_option .chzn-rtl .chzn-search input {
    background: url('../images/chosen-sprite.png') no-repeat -38px -22px, #ffffff;
    background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);  
    background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    background: url('../images/chosen-sprite.png') no-repeat -38px -22px, linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    padding: 4px 5px 4px 20px;
}



.range-input-wrap {height:26px}

/* slider root element */
.range-input-wrap .slider {
    height:9px;
    position:relative;
    cursor:pointer;
    border:1px solid #333;
    width:180px;
    float:left;
    clear:right;
    box-shadow: 0 0 8px #333333 inset;
    border-radius: 5px 5px 5px 5px;
    margin-top:9px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow:inset 0 0 8px #000;
}

.range-input-wrap .unit{padding-top: 5px}
/* progress bar (enabled with progress: true) */
.progress {
    height:9px;
    background-color:#C5FF00;
    display:none;
    opacity:0.6;
}

/* drag handle */
.handle {
    /*background-color:#fff url(./images/h30.png) repeat-x 0 0;*/
    height:20px;
    width:20px;
    top:-8px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius: 10px 10px 10px 10px;
    position:absolute;
    display:block;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background-image: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background-image: -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background-image: -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #ffffff 85%,#eeeeee 99%);
    box-shadow: 0 0 5px #000000;
    margin-top:1px;
    border:1px solid #000;
    cursor:move;
    -moz-box-shadow:0 0 6px #000;
    -webkit-box-shadow:0 0 6px #000;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;

}

/* the input field */
.range {

    float:left;
    font-size:12px;
    margin:0 5px 0 15px;
    padding:3px 0;
    text-align:center;
    width:50px!important;

}

.wp-admin select.selectmeasurment  {margin-top:0;margin-bottom: 0;height: 23px!important}

/* ELEMENTS IN POPUP WINDOW - SHORTCODES */
#TB_window {overflow-y: hidden; overflow-x: hidden;background: none repeat scroll 0 0 #FCFCFC !important;z-index: 100051;}
#TB_ajaxContent {padding: 0px !important;background-color: #FCFCFC;overflow-y:  auto;overflow-x: hidden !important; height: 90% !important;}

#jaw-shortcode-popup {padding-bottom: 50px;}

#jaw-shortcode-popup #of_container {width:670px;margin: 0px;}
#jaw-shortcode-popup #of_container #content {width: 642px;float:none;min-height: 0px;}

#jaw-shortcode-buttons {bottom:24px;position: fixed;height:50px;width:653px;background-color: #efefef;}
#jaw-shortcode-buttons .jaw-shortcode-buttons-content {padding-top: 10px;padding-right: 10px;text-align: right;}

#jaw-shortcode-popup #of_container #content .section h3.heading {margin: 6px 0;font-size: 12px;}
.colorpicker {z-index: 9990;}
/* ELEMENTS IN POPUP WINDOW - END SHORTCODES */



/* Admin panel menu */
#of-nav li a {
    display: block;
    padding: 10px 15px;
    background: #ccc;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #999;
    text-decoration: none;
    color: #000;
}
#of-nav li a:hover, #nav li a.current {
    background: #999;
    color: #fff;
}
#of-nav li ul {
    display: none; 
}
#of-nav li ul li a {
    padding-left: 40px !important; 
    background: #ececec;
    border-bottom: 1px dotted #ccc;
}

#of_container #of-nav ul li.current ul li a:hover{ background: #999;
                                                   color: #fff;}


#of_container #info_bar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F3F3F3;
    border-color: #D8D8D8;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 0 1px 0 #FCFCFC inset;
    height: 31px;
    padding: 6px 20px 0 6px;
    text-align: right;
}
#of_container {
    color: #565454;
}
body, #wpbody, .form-table .pre, .ui-autocomplete li a {
    color: #333333;
}
body, #wpbody, .form-table .pre, .ui-autocomplete li a {
    color: #333333;
}
body {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.4em;
}
#of_container #of-nav ul li.parent.current a {
    background-color: inerth !important;
    color: inerth !important;
}

#of_container #of-nav .submenu li {
    background:  #FFFFFF !important ;
}





/* METABOX*/
.description{

    margin-bottom: 10px;
    font-style: italic;
}

/* ADMIN PANEL */
/*//background-color: #434343;*/
/*#menu {float:left; width:180px}
#menu-head {height:100px;
            text-align: center; }

#main {float:left;}
#main-head {height:80px;}*/


.tooglebutton .cb-enable,.tooglebutton .cb-disable,.tooglebutton .cb-enable span,.tooglebutton .cb-disable span { background: url('../images/switch.gif') repeat-x; display: block; float: left; }
.tooglebutton .cb-enable span,.tooglebutton .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.tooglebutton .cb-enable span { background-position: left -90px; padding: 0 10px; }
.tooglebutton .cb-disable span { background-position: right -180px;padding: 0 10px; }
.tooglebutton .cb-disable.selected { background-position: 0 -30px; }
.tooglebutton .cb-disable.selected span { background-position: right -210px; color: #fff; }
.tooglebutton .cb-enable.selected { background-position: 0 -60px; }
.tooglebutton .cb-enable.selected span { background-position: left -150px; color: #fff; }
.tooglebutton label { cursor: pointer; padding:0;font-family: "Lucida Grande",Sans-serif;text-shadow: 0 0 0 none !important}
.rating_setting .remove {width:16px;height:16px; margin-left:5px;background: url('../images/icon-delete.png') no-repeat 0 0px;display:inline-block}















/* GOOD STORE********************************************/
.wp-core-ui .button-primary.jaw, .button-primary.jaw:focus {
    background: none repeat scroll 0 0 #777777;
    border: 0 none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    margin-left: 1px;
    margin-down: 1px;
}
.wp-core-ui .button-primary.toggle, .wp-core-ui .button-primary.toggle:focus {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #cccccc;
    color: #777777;
}
.wp-core-ui  .button-primary.toggle:hover {
    background: none repeat scroll 0 0 #777777;
    box-shadow:2px 3px 7px rgba(255, 255, 255, 0.1) inset;
    color: #ffffff;
}
.wp-core-ui .button-primary.toggle {
    background: none repeat scroll 0 0 #FCFCFC;
    color: #777777;
    box-shadow: 0 1px 0 #FCFCFC inset;
    border:1px solid #777777;
}
.wp-core-ui .button-primary.active.toggle, .wp-core-ui .button-primary.active.toggle.toggle:hover, .wp-core-ui .button-primary.active.toggle:focus, .wp-core-ui .button-primary.toggle:active{
    background: none repeat scroll 0 0 #1E8CBE;
    border-color: #005684;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
    color: rgba(255, 255, 255, 0.95);
}

.button-primary.red:hover {
    background: -moz-linear-gradient(top, rgba(255,114,114,1) 0%, rgba(255,0,0,1) 100%);
    border-color: #FF0000;
    box-shadow: none;
}

.section-color .color input{
    width: 70px;
    float: left;
    cursor: pointer;
}
.section-color .color span.add-on{
    float: left;
    height: 27px;
    position: relative;
    width: 27px;
}
.section-color .color span.add-on i{
    float: left;
    height: 19px;
    position: relative;
    width: 19px;
    left: 3px;
    top: 1px;
    border: 3px solid #777777;
    border-radius: 3px;
    cursor: default;
}
.close-colorpicker{display:none;}

.list_delete_button.builder {   float: left;  height: 28px;  width: 25px;border-radius: 0 3px 3px 0 !important;padding: 0 5px; margin: 2px 0;margin-left: 0 !important;margin: 1px 0;}
.chart_delete_button.builder {   float: right;  height: 28px; left: 289px;  position: absolute;    margin-top: 0; width: 25px;border-radius: 3px;}    
.list-li{height: 30px;position: relative;float:left;clear: both;}
.list-li.textarea{height: auto;position: relative;margin: 10px 0;clear: both;width: 100%;float: none;}
.list-li.textarea textarea{height: 150px;float: left;}
.list-li input{
    float: left;
    border-radius: 0;
    margin-right: 0px;
    margin-left: 0;
}
.list-li-adv{
    height: auto;
    background: #dddddd;
    margin-bottom: 5px;
    width: 351px;
    border-radius: 3px;
    padding: 1px 3px;
}
.list-li-adv input{
    margin-bottom: 1px !important;
    float: left;
}
.show-icon{
    float: left;
    height: 12px;
    width: 12px;
    padding: 7px;
    border-radius: 3px 0 0 3px;
    background: #EEEEEE;
    margin-top: 1px;
    border: 1px solid rgb(204, 204, 204);
}
.show-icon-input{
    border-radius: 0 3px 3px 0 !important;
    margin-left: -1px !important;
}
.list-li-adv-inner{
    padding: 5px 5px 20px 5px;
    border: 1px dashed #777777;
    float:left;
    min-width: 319px;
    width: auto;
    margin-left: 25px;
    margin-bottom: 5px;
    border-radius: 3px;
}
.list-li.textarea .list_delete_button.builder{top:1px;right:-25px;}
.add-list.jaw{padding: 0 178px;  width: 300px;position: relative;clear: both;float: left;margin-top:5px;}

.section.jw_option.section-range .slider .ui-slider-horizontal{float: left;  margin-top: 7px;  width: 200px;}
.section.jw_option.section-range .slider input{float: left;    margin-left: 10px;    width: 50px;}
#section-template_body_main_color.jw_option .of-radio-tile-selected{border: 3px solid #F9F9F9;}


/*colorpicker*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.option .colorpicker{
    z-index: 11000;
    top:35px;
    position: absolute;
}


/*FOR CUSOM CODE*/
#of-option-customcode .jw_option textarea{max-width: 572px;min-width: 300px;}
#of-option-customcode .section.jw_option .controls{width: auto;}


/*jaw_gallerypicker*/
.section-media_picker .jaw_gallerypicker img {
    height:  100px;
    margin: 5px 5px 0;
}
.section-media_picker .jaw_gallerypicker {
    background: none repeat scroll 0 0 #FFFFFF;
}
.simplemediapicker img {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100px;
}


/*Rewrite jquery-ui.css*/

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #21779E;
    background: #2686B2;
    font-weight: bold;
    color: #c77405;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #21779E;
    background: #2688B5;
    font-weight: bold;
    color: #eb8f00;
}


.section-layout .radio-layout {
    float: left;
    margin-right: 5px;
}

.chart-li{border-bottom: 1px solid #000000;margin: -10px;padding: 10px;background: #fefefe;margin-bottom: 20px;max-width: 300px;}
.chart-li.section-color{padding-bottom: 40px;}

#section-Instagram-info .controls {width:500px;}

.section-text #excerpt{height: auto;}

/* Theme check */
.wp-caption {}
.wp-caption-text{}
.sticky {}
.gallery-caption {}
.bypostauthor{}
.alignright {}
.alignleft {}
.aligncenter {}

#editor_container .option .controls .search-field .default {
    height: 20px;
}
.jw_option .mce-tinymce input, .jw_option .mce-tinymce select, .jw_option .mce-tinymce button {
    border-width: 0;
}

/*JaW Dashboard*/
#jaw_dashboard_widget .inside > img{float: left;margin: 0 12px 0 0;}

/*gdrive*/
.gc-bubbleDefault{margin-top: 1px;}

/*help icons*/

.help-icon {
    font-size: 16px;
    position: relative;
    margin: 0 5px;
    color: #0074A2;
}
.help-icon a{
    text-decoration: none;
}
.help-icon img{
    display: none;
    position: absolute;
    z-index: 999;
    border: 3px solid #000000;
    top: 20px;
}
.help-icon:hover img{
    display: block;
}
.edd_upload_file{
    padding: 3px 8px;
    margin-top: -2px;

}
.gc-bubbleDefault{
    position: absolute;
    top: 15px;
}
.jw_option .chosen-container.chosen-container-multi .chosen-choices{width: 300px;}
.jw_option .chosen-container.chosen-container-multi .chosen-choices .default{padding: 0;}

.adminoption .section.jw_option.section-info .controls{width: 100% !important;}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{margin:5px !important;}


/* Welcome page */
jaw-goodstore-wrapper {

    padding: 10px;
    position: relative;
    width: 600px;
}

#jaw-goodstore-header {

    min-height: 150px;
    position: relative;
}

#jaw-goodstore-header #jaw-goodstore-thumb {

    float: left;
    padding-right: 50px;
}

#jaw-goodstore-welcome-text h1 {

    margin-bottom: 50px;
    padding-top: 30px;
}

#jaw-goodstore-guide-buttons {

    height: 150px;
    position: relative;
}

#jaw-goodstore-guide-buttons .link_to_doc, #jaw-goodstore-guide-buttons .link_to_vid, #jaw-goodstore-guide-buttons .link_to_for, #jaw-goodstore-guide-buttons .link_to_faq, #jaw-goodstore-guide-buttons .link_to_skip {

    display: inline;
    position: relative;
    top: 3px;
}

#jaw-goodstore-guide-buttons input, .link_to_skip input {

    cursor: pointer;
    width: 144px;
}

#jaw-goodstore-guide-buttons a, .link_to_skip a {

    text-decoration: none;
}

.link_to_skip {

    top: 46px;
}

#jaw-goodstore-changelog {

    min-height: 150px;
    padding-left: 10px;
    position: relative;
}

#jaw-goodstore-changelog h2 {

    left: -10px;
    position: relative;
}

#jaw-goodstore-guide-buttons {

    height: 35px;
    position: relative;
    width: 100%;
}

#jaw-goodstore-footer {

    background-color: #00475b;
    position: relative;
    width: 600px;
}

#jaw-goodstore-footer p {

    padding: 5px 0;
    text-align: center;
}

#jaw-goodstore-footer p, #jaw-goodstore-footer a {

    color: #FFFFFF;
    text-decoration: none;
}

#jaw-goodstore-footer a:hover {

    color: #BDBDBD;
}

#jaw-goodstore-links {

    left: 3px;
    position: relative;
}

input.link_btn {

    background-color: #00475b;
    border: 1px solid #EFEFEF;
    color: #EFEFEF;
}

a:hover input.link_btn {

    color: #BDBDBD;
}

#jaw-goodstore-changelog ul {

    margin-left: 15px;
    padding-bottom: 7px;
}

#jaw-goodstore-changelog ul li {

    list-style-type: disc;
}
